{% if list_clone %}

<section class="section row row-one">
    <p>Survey Before:</p>
    {% if event.survey_before %}
    <div class="with_survey">
        <a href="{{ event.survey_before.get_absolute_url }}">{{ event.survey_before.title }}</a> | 
        <a class="remove_survey" href="{# event.get_remove_survey_url #}?e={{ event.pk }}?b=1">Remove</a>
    </div>
    {% endif %}
    
    <select class="select_survey{% if event.survey_before %} none{% endif %}">
        <option value="" selected>-----------</option>
        <option value="{% url 'formable-create-form' %}?before_event={{ event.pk }}">Create Before Survey</option>
        {% for clone in list_clone %}
        <option value="{% url 'formable-edit-clone-form' 'clone' clone.pk %}?before_event={{ event.pk }}">{{ clone.title }}</option>
        {% endfor %}
    </select>
</section>

<section class="section row row-one">
    <p>Survey After:</p>
    {% if event.survey_after %}
    <div class="with_survey">
        <a href="{{ event.survey_before.get_absolute_url }}">{{ event.survey_after.title }}</a> | 
        <span><a class="remove_survey" href="{% url 'events-remove-survey' %}?e={{ event.pk }}?a=1">Remove</a></span>
    </div>
    {% endif %}
    
    <select class="select_survey{% if event.survey_after %} none{% endif %}">
        <option value="" selected>-----------</option>
        <option value="{% url 'formable-create-form' %}?after_event={{ event.pk }}">Create After Survey</option>
        {% for clone in list_clone %}
        <option value="{% url 'formable-edit-clone-form' 'clone' clone.pk  %}?after_event={{ event.pk }}">{{ clone.title }}</option>
        {% endfor %}
    </select>
</section>

<script type="text/javascript" >
    $('.select_survey').on('change', function(e) {
        var url = $(this).val();
        if(url != '') {
            window.location = url;
        }
    });
    $('.remove_survey').on('click', function(e) {
        var url = $(this).attr('href');
        var parent = $(this).parent('div');
        $.ajax({
            url: url,
            type: 'GET',
            success: function(r) {
                if(r === 'Yes') {
                    parent.children('.with_survey').hide();
                    parent.children('select').show();
                } else {
                    alert('Can\'t remove survey at the moment');
                }
            }
        })    
    });
</script>
{% endif %}