{% extends 'pages/base_bccfpage.html' %}
{% load i18n pybb_tags %}

{% block extra_script %}
    {{ block.super }}
    {% include "pybb/_markitup.html" %}
    <script type="text/javascript" src="{{ STATIC_URL }}pybb/js/jquery.formset.min.js"></script>
{% endblock %}

{% block content %}
<h1>{% if forum %}{% trans "New topic" %}{% else %}{% trans "New reply" %}{% endif %}</h1>
{% endblock %}

{% block carousels %}
{% include "pybb/post_form.html" %}
{% endblock %}

{% block page_script %}{% endblock %}
