/* ==========================================================================

  VCN BCCF Project 2014
  From the original work of Matthew Hartman with BASE
  Authors/Contributors: Hugues Deraps, Karl Castillo & Vlad Orlenko. 

========================================================================== */
/* General Resets */
/* line 50, ../sass/invoice.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 51, ../sass/invoice.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 52, ../sass/invoice.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
}

/* line 53, ../sass/invoice.scss */
body, form, fieldset, legend, input, select, textarea, button {
  margin: 0;
}

/* line 54, ../sass/invoice.scss */
html {
  font-size: 100%;
}

/* ==========================================================================
/* --  Micro Clearfix and Helpers
   ========================================================================== */
/* Micro Clearfix */
/* line 61, ../sass/invoice.scss */
.clear:before, .clear:after {
  content: "";
  display: table;
}

/* line 61, ../sass/invoice.scss */
.clear:after {
  clear: both;
}

/* line 61, ../sass/invoice.scss */
.clear {
  zoom: 1;
}

/* line 62, ../sass/invoice.scss */
.section:before, .section:after {
  content: "";
  display: table;
}

/* line 62, ../sass/invoice.scss */
.section:after {
  clear: both;
}

/* line 62, ../sass/invoice.scss */
.section {
  zoom: 1;
}

/* line 63, ../sass/invoice.scss */
.checkbox:before, .checkbox:after {
  content: "";
  display: table;
}

/* line 63, ../sass/invoice.scss */
.checkbox:after {
  clear: both;
}

/* line 63, ../sass/invoice.scss */
.checkbox {
  zoom: 1;
}

/* Helpers */
/* line 66, ../sass/invoice.scss */
.left {
  float: left;
}

/* line 67, ../sass/invoice.scss */
.right {
  float: right;
}

/* line 68, ../sass/invoice.scss */
.block {
  display: block;
}

/* line 69, ../sass/invoice.scss */
.inline-block {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

/* line 74, ../sass/invoice.scss */
.inline {
  display: inline;
}

/* line 75, ../sass/invoice.scss */
.strong, b, strong, dt, #order-info section.header {
  font-weight: bold;
}

/* line 76, ../sass/invoice.scss */
.italic, dfn {
  font-style: italic;
}

/* line 77, ../sass/invoice.scss */
.center-text {
  text-align: center;
}

/* line 78, ../sass/invoice.scss */
.none {
  display: none;
}

/* line 81, ../sass/invoice.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -9999em;
}

/* line 91, ../sass/invoice.scss */
.visuallyvisible {
  clip: auto;
  width: auto;
  height: auto;
  overflow: visible;
  left: 0;
}

/* ==========================================================================
/* 1.0 - Document Setup (typography, links, paragraph, etc)
   ========================================================================== */
/* Body */
/* line 104, ../sass/invoice.scss */
body {
  font-size: 16px;
  font-size: 1rem;
  color: #555;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "PT Sans", sans-serif;
}

/* Strong and Italic */
/* Paragraph and Small */
/* line 117, ../sass/invoice.scss */
p, pre {
  margin: 1em 0;
}

/* line 118, ../sass/invoice.scss */
small {
  font-size: 80%;
}

/* Small,
Sub and Sup */
/* line 122, ../sass/invoice.scss */
small {
  font-size: 80%;
}

/* line 123, ../sass/invoice.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 129, ../sass/invoice.scss */
sup {
  top: -.5em;
}

/* line 130, ../sass/invoice.scss */
sub {
  bottom: -.25em;
}

/* Definition */
/* Images */
/* line 136, ../sass/invoice.scss */
img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 143, ../sass/invoice.scss */
.image-left {
  margin-right: 20px;
}

/* line 144, ../sass/invoice.scss */
.image-right {
  margin-left: 20px;
}

/* 1.1 Headings - h1, h2, h3, h4, h5, h6 & other (if any)
   ========================================================================== */
/* line 149, ../sass/invoice.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  font-family: "Roboto Slab", serif;
}

/* line 154, ../sass/invoice.scss */
h1, .h1 {
  font-size: 40px;
  font-size: 2.5rem;
  margin-bottom: .2em;
}

/* line 158, ../sass/invoice.scss */
h2, .h2 {
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: .33em;
}

/* line 162, ../sass/invoice.scss */
h3, .h3 {
  font-size: 26px;
  font-size: 1.625rem;
  margin-bottom: .5em;
}

/* line 166, ../sass/invoice.scss */
h4, .h4 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: .5em;
}

/* line 170, ../sass/invoice.scss */
h5, .h5 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: .5em;
}

/* line 174, ../sass/invoice.scss */
h6, .h6 {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: .5em;
}

/* Reset Heading */
/* line 179, ../sass/invoice.scss */
.no-style-heading {
  font-size: 100%;
  margin: 0;
}

/* Horizontal Rule */
/* line 185, ../sass/invoice.scss */
hr {
  border: 0;
  background: none;
  outline: 0;
  background-color: #ddd;
  margin: 2em 0;
  *margin: 1em 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
}

/* 1.3 Lists
   ========================================================================== */
/* line 199, ../sass/invoice.scss */
dl, menu, ol, ul {
  margin: 1em 0;
}

/* line 202, ../sass/invoice.scss */
ul ul, ol ol, ul ol, ol ul {
  margin: 0;
}

/* line 203, ../sass/invoice.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 205, ../sass/invoice.scss */
menu, ol, ul {
  padding: 0 0 0 15px;
}

/* line 206, ../sass/invoice.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* Remove Styling from List */
/* line 211, ../sass/invoice.scss */
.no-style-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ==========================================================================
/* 2.0 - Grid Layout (Responsive)
   ========================================================================== */
/* Sections & Content Blocks */
/* line 222, ../sass/invoice.scss */
.section {
  position: relative;
}

/* Rows */
/* line 226, ../sass/invoice.scss */
.row {
  margin: .5em 0;
}

/* line 227, ../sass/invoice.scss */
.row-one {
  margin: 1em 0;
}

/* line 228, ../sass/invoice.scss */
.row-two {
  margin: 2em 0;
}

/* line 229, ../sass/invoice.scss */
.row-three {
  margin: 3em 0;
}

/* line 231, ../sass/invoice.scss */
.center, .container, .container-full {
  margin-left: auto;
  margin-right: auto;
}

/* line 236, ../sass/invoice.scss */
.container {
  max-width: 1100px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 242, ../sass/invoice.scss */
.container-full {
  max-width: 1120px;
}

/* Fluid Grid */
/* line 248, ../sass/invoice.scss */
.col {
  margin-left: 1%;
  float: left;
}

/* line 252, ../sass/invoice.scss */
.col:first-child {
  margin-left: 0;
}

/* Columns */
/* line 255, ../sass/invoice.scss */
.one {
  width: 7%;
}

/* line 258, ../sass/invoice.scss */
.two {
  width: 15.5%;
}

/* line 261, ../sass/invoice.scss */
.three, .quarter {
  width: 24%;
}

/* line 264, ../sass/invoice.scss */
.four, .one-third {
  width: 32.5%;
}

/* line 267, ../sass/invoice.scss */
.five {
  width: 41%;
}

/* line 270, ../sass/invoice.scss */
.six, .half {
  width: 49.5%;
}

/* line 273, ../sass/invoice.scss */
.seven {
  width: 58%;
}

/* line 276, ../sass/invoice.scss */
.eight {
  width: 66.5%;
}

/* line 279, ../sass/invoice.scss */
.nine {
  width: 75%;
}

/* line 282, ../sass/invoice.scss */
.ten {
  width: 83.5%;
}

/* line 285, ../sass/invoice.scss */
.eleven {
  width: 92%;
}

/* line 288, ../sass/invoice.scss */
.twelve {
  width: 100%;
}

/* =======================================================
INVOICE
========================================================== */
/* line 299, ../sass/invoice.scss */
.container {
  font-family: "PT Sans", sans-serif;
}
/* line 301, ../sass/invoice.scss */
.container h2 {
  font-family: "Roboto Slab", serif;
}

/* line 305, ../sass/invoice.scss */
.text-right {
  text-align: right;
}

/* line 308, ../sass/invoice.scss */
#bccflogo {
  border-right: 1px solid #a6b2a6;
  height: 75px;
}

/* line 312, ../sass/invoice.scss */
#bccftagline {
  padding: 16px;
  font-size: 26px;
  text-transform: lowercase;
  height: 75px;
}

/* line 318, ../sass/invoice.scss */
#order-details {
  margin-bottom: 40px;
}

/* line 322, ../sass/invoice.scss */
#order-info header {
  border-bottom: 2px solid #000;
}
/* line 324, ../sass/invoice.scss */
#order-info header h2 {
  margin-bottom: 0;
}
/* line 328, ../sass/invoice.scss */
#order-info section.header {
  background: #9fceb4;
  color: #000;
  padding: 5px;
  border-bottom: 1px solid #000;
}
/* line 335, ../sass/invoice.scss */
#order-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 342, ../sass/invoice.scss */
#billing li {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 348, ../sass/invoice.scss */
#items .header {
  margin-bottom: 0;
}
/* line 351, ../sass/invoice.scss */
#items li {
  padding-top: 5px;
  border-bottom: 1px solid #000;
}

/* line 358, ../sass/invoice.scss */
#totals li span {
  padding-right: 10px;
}
/* line 362, ../sass/invoice.scss */
#totals .total {
  border-top: 1px solid #000;
  border-bottom: none;
}

/* line 368, ../sass/invoice.scss */
footer div:first-child {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}
/* line 372, ../sass/invoice.scss */
footer div:last-child {
  margin-top: 10px;
}
