/* ==========================================================================

  Base Stylesheet - http://git.io/base
  Author: Matthew Hartman - http://www.matthewhartman.com.au/
  Version: 1.5 - Last Updated: 21st June, 2013

========================================================================== */
/* General Resets */
/* line 32, sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 33, sass/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 34, sass/style.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
}

/* line 35, sass/style.scss */
body, form, fieldset, legend, input, select, textarea, button {
  margin: 0;
}

/* line 36, sass/style.scss */
html {
  font-size: 100%;
}

/* ==========================================================================
/* --  Micro Clearfix and Helpers
   ========================================================================== */
/* Micro Clearfix */
/* line 43, sass/style.scss */
.clear:before, .clear:after {
  content: "";
  display: table;
}

/* line 43, sass/style.scss */
.clear:after {
  clear: both;
}

/* line 43, sass/style.scss */
.clear {
  zoom: 1;
}

/* line 44, sass/style.scss */
.section:before, .section:after {
  content: "";
  display: table;
}

/* line 44, sass/style.scss */
.section:after {
  clear: both;
}

/* line 44, sass/style.scss */
.section {
  zoom: 1;
}

/* line 45, sass/style.scss */
.checkbox:before, .checkbox:after {
  content: "";
  display: table;
}

/* line 45, sass/style.scss */
.checkbox:after {
  clear: both;
}

/* line 45, sass/style.scss */
.checkbox {
  zoom: 1;
}

/* Helpers */
/* line 48, sass/style.scss */
.left, .checkbox input[type=checkbox],
.checkbox input[type=radio] {
  float: left;
}

/* line 49, sass/style.scss */
.right {
  float: right;
}

/* line 50, sass/style.scss */
.block, .alert, .checkbox {
  display: block;
}

/* line 51, sass/style.scss */
.inline-block, audio, canvas, video, .button {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

/* line 56, sass/style.scss */
.inline {
  display: inline;
}

/* line 57, sass/style.scss */
.strong, b, strong, dt, legend, input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
  font-weight: bold;
}

/* line 58, sass/style.scss */
.italic, dfn, blockquote {
  font-style: italic;
}

/* line 59, sass/style.scss */
.center-text {
  text-align: center;
}

/* line 61, sass/style.scss */
.none, .no-desktop, audio:not([controls]),
[hidden] {
  display: none;
}

/* line 64, sass/style.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -9999em;
}

/* line 74, sass/style.scss */
.visuallyvisible {
  clip: auto;
  width: auto;
  height: auto;
  overflow: visible;
  left: 0;
}

/* Alert */
/* line 83, sass/style.scss */
.alert {
  background-color: #ffc;
  padding: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* ==========================================================================
/* 1.0 - Document Setup (typography, links, paragraph, etc)
   ========================================================================== */
/* Body */
/* line 96, sass/style.scss */
body {
  font-size: 14px;
  font-size: 0.875rem;
  color: #555;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Strong and Italic */
/* Links */
/* line 108, sass/style.scss */
a {
  color: #f30;
}

/* line 109, sass/style.scss */
a:hover {
  text-decoration: none;
}

/* line 110, sass/style.scss */
a:focus {
  outline: thin dotted;
}

/* line 111, sass/style.scss */
a:active, a:hover {
  outline: 0;
}

/* Paragraph and Small */
/* line 115, sass/style.scss */
p, pre {
  margin: 1em 0;
}

/* line 116, sass/style.scss */
small {
  font-size: 80%;
}

/* Abbreviations */
/* line 119, sass/style.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* Audio */
/* line 125, sass/style.scss */
audio:not([controls]) {
  height: 0;
}

/* Small, 
Sub and Sup */
/* line 132, sass/style.scss */
small {
  font-size: 80%;
}

/* line 133, sass/style.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 139, sass/style.scss */
sup {
  top: -.5em;
}

/* line 140, sass/style.scss */
sub {
  bottom: -.25em;
}

/* Definition */
/* Images */
/* line 146, sass/style.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 150, sass/style.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 151, sass/style.scss */
figure {
  margin: 0;
}

/* line 153, sass/style.scss */
.image-left {
  margin-right: 20px;
}

/* line 154, sass/style.scss */
.image-right {
  margin-left: 20px;
}

/* 1.1 Headings - h1, h2, h3, h4, h5, h6 & other (if any)
   ========================================================================== */
/* line 159, sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

/* line 163, sass/style.scss */
h1, .h1 {
  font-size: 40px;
  font-size: 2.5rem;
  margin-bottom: .2em;
}

/* line 167, sass/style.scss */
h2, .h2 {
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: .33em;
}

/* line 171, sass/style.scss */
h3, .h3 {
  font-size: 26px;
  font-size: 1.625rem;
  margin-bottom: .5em;
}

/* line 175, sass/style.scss */
h4, .h4 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: .5em;
}

/* line 179, sass/style.scss */
h5, .h5 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: .5em;
}

/* line 183, sass/style.scss */
h6, .h6 {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: .5em;
}

/* Reset Heading */
/* line 188, sass/style.scss */
.no-style-heading {
  font-size: 100%;
  margin: 0;
}

/* Horizontal Rule */
/* line 194, sass/style.scss */
hr {
  border: 0;
  background: none;
  outline: 0;
  background-color: #ddd;
  margin: 2em 0;
  *margin: 1em 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
}

/* 1.2 Quotes and Code - block quotes, quotes, code, pre, etc
   ========================================================================== */
/* Block Quotes and Quotes */
/* line 210, sass/style.scss */
blockquote {
  font-family: "Georgia", "Times" serif;
  font-size: 20px;
  font-size: 1.25rem;
  color: #777;
  margin: 1em 0;
}

/* line 217, sass/style.scss */
cite {
  color: #222;
  font-style: normal;
}

/* line 222, sass/style.scss */
q {
  quotes: none;
}

/* line 223, sass/style.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* Mark */
/* line 229, sass/style.scss */
mark {
  background: #ff0;
  color: #111;
}

/* Code */
/* line 235, sass/style.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 240, sass/style.scss */
code {
  color: #111;
  padding: 2px 5px;
  background-color: #f1f1f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* 1.3 Lists
   ========================================================================== */
/* line 249, sass/style.scss */
dl, menu, ol, ul {
  margin: 1em 0;
}

/* line 252, sass/style.scss */
ul ul, ol ol, ul ol, ol ul {
  margin: 0;
}

/* line 253, sass/style.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 255, sass/style.scss */
menu, ol, ul {
  padding: 0 0 0 40px;
}

/* line 256, sass/style.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* Remove Styling from List */
/* line 261, sass/style.scss */
.no-style-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 1.4 Tables
   ========================================================================== */
/* line 269, sass/style.scss */
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  *white-space: normal;
}

/* line 281, sass/style.scss */
table th,
table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}

/* line 288, sass/style.scss */
table thead th {
  vertical-align: bottom;
  font-weight: bold;
  background-color: #e1e1e1;
  color: #333;
}

/* line 294, sass/style.scss */
table tfoot td {
  font-weight: bold;
}

/* line 297, sass/style.scss */
table caption {
  padding: 0.5em;
  font-style: italic;
  background-color: #eee;
  border-bottom: 0;
  font-weight: bold;
}

/* 1.5 Forms, Labels and Inputs
   ========================================================================== */
/* line 307, sass/style.scss */
fieldset {
  border: 0;
  padding: 0;
}

/* line 311, sass/style.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 318, sass/style.scss */
label {
  cursor: pointer;
}

/* line 320, sass/style.scss */
button, input, select, textarea {
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 331, sass/style.scss */
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
  padding: 5px 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  color: #777;
  border: 1px solid #ddd;
  border-top: 1px solid #999;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* line 345, sass/style.scss */
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 353, sass/style.scss */
.checkbox {
  margin: .2em 0;
}
/* line 360, sass/style.scss */
.checkbox label {
  padding-left: 5px;
  overflow: hidden;
  display: table;
  *zoom: 1;
}

/* line 368, sass/style.scss */
button, input {
  line-height: normal;
}

/* line 369, sass/style.scss */
button, select {
  text-transform: none;
}

/* Buttons */
/* line 375, sass/style.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 382, sass/style.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 384, sass/style.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 391, sass/style.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 393, sass/style.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 397, sass/style.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}

/* Custom Buttons */
/* line 404, sass/style.scss */
.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  padding: 1em 3em;
  color: #333;
  text-decoration: none;
  text-align: center;
}

/* line 414, sass/style.scss */
.orange-button {
  background-color: #fee9cc;
}
/* line 417, sass/style.scss */
.orange-button:hover {
  background-color: #ffe0b5;
  -webkit-tap-highlight-color: #fdeed8;
}
/* line 421, sass/style.scss */
.orange-button:active {
  background-color: #fdeed8;
}

/* line 426, sass/style.scss */
.button[disabled],
.button.disabled {
  color: #999;
  background-color: #f1f1f1;
}

/* line 431, sass/style.scss */
.no-style-button {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #f30;
  text-decoration: underline;
  border: 0;
  background: transparent;
  height: auto;
  padding: 0;
  cursor: pointer;
  outline: 0;
}
/* line 442, sass/style.scss */
.no-style-button:hover {
  text-decoration: none;
}

/* line 447, sass/style.scss */
.no-style-button[disabled],
.no-style-button.disabled {
  text-decoration: none;
  color: #999;
}

/* ==========================================================================
/* 2.0 - Grid Layout (Responsive)
   ========================================================================== */
/* Sections & Content Blocks */
/* line 457, sass/style.scss */
.section {
  position: relative;
}

/* Rows */
/* line 461, sass/style.scss */
.row {
  margin: .5em 0;
}

/* line 462, sass/style.scss */
.row-one {
  margin: 1em 0;
}

/* line 463, sass/style.scss */
.row-two {
  margin: 2em 0;
}

/* line 464, sass/style.scss */
.row-three {
  margin: 3em 0;
}

/* line 466, sass/style.scss */
.center, .container, .container-full {
  margin-left: auto;
  margin-right: auto;
}

/* line 471, sass/style.scss */
.container {
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 477, sass/style.scss */
.container-full {
  max-width: 980px;
}

/* Fluid Grid */
/* line 483, sass/style.scss */
.col {
  margin-left: 2%;
  float: left;
}

/* line 487, sass/style.scss */
.col:first-child {
  margin-left: 0;
}

/* Columns */
/* line 490, sass/style.scss */
.one {
  width: 6.5%;
  *width: expression(Math.floor(0.065 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 494, sass/style.scss */
.two {
  width: 15%;
  *width: expression(Math.floor(0.15 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 498, sass/style.scss */
.three, .quarter {
  width: 23.5%;
  *width: expression(Math.floor(0.235 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 502, sass/style.scss */
.four, .one-third {
  width: 32%;
  *width: expression(Math.floor(0.32 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 506, sass/style.scss */
.five {
  width: 40.5%;
  *width: expression(Math.floor(0.405 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 511, sass/style.scss */
.six, .half {
  width: 49.0%;
  *width: expression(Math.floor(0.49 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 515, sass/style.scss */
.seven {
  width: 57.5%;
  *width: expression(Math.floor(0.575 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 519, sass/style.scss */
.eight {
  width: 66%;
  *width: expression(Math.floor(0.66 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 523, sass/style.scss */
.nine {
  width: 74.5%;
  *width: expression(Math.floor(0.745 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 527, sass/style.scss */
.ten {
  width: 83%;
  *width: expression(Math.floor(0.83 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 531, sass/style.scss */
.eleven {
  width: 91.5%;
  *width: expression(Math.floor(0.915 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px");
}

/* line 535, sass/style.scss */
.twelve {
  width: 100%;
}

/* ==========================================================================
/* -- Tablet Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (min-width: 740px) and (max-width: 999px) {
  /* line 555, sass/style.scss */
  .container, .tablet-container {
    width: 720px;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Tablet Grid
  * For stacking full width columns, please use the new class .tablet-full */
  /* line 563, sass/style.scss */
  .tablet-one {
    width: 6.5%;
  }

  /* line 564, sass/style.scss */
  .tablet-two {
    width: 15%;
  }

  /* line 565, sass/style.scss */
  .tablet-three {
    width: 23.5%;
  }

  /* line 566, sass/style.scss */
  .tablet-four {
    width: 32%;
  }

  /* line 567, sass/style.scss */
  .tablet-five {
    width: 40.5%;
  }

  /* line 568, sass/style.scss */
  .tablet-six {
    width: 49.0%;
  }

  /* line 569, sass/style.scss */
  .tablet-seven {
    width: 57.5%;
  }

  /* line 570, sass/style.scss */
  .tablet-eight {
    width: 66%;
  }

  /* line 571, sass/style.scss */
  .tablet-nine {
    width: 74.5%;
  }

  /* line 572, sass/style.scss */
  .tablet-ten {
    width: 83%;
  }

  /* line 573, sass/style.scss */
  .tablet-eleven {
    width: 91.5%;
  }

  /* line 574, sass/style.scss */
  .tablet-twelve {
    width: 100%;
  }

  /* line 576, sass/style.scss */
  .tablet-full {
    clear: both;
    float: none;
    width: 100%;
    margin: 10px 0 0 0;
    display: block;
  }

  /* line 583, sass/style.scss */
  .tablet-full:first-child {
    margin-top: 0;
  }

  /* line 587, sass/style.scss */
  .tablet-center {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  /* line 592, sass/style.scss */
  .tablet-left {
    float: left;
  }

  /* line 593, sass/style.scss */
  .tablet-right {
    float: right;
  }

  /* line 594, sass/style.scss */
  .tablet-no-float {
    float: none;
  }

  /* line 596, sass/style.scss */
  .tablet-center:first-child {
    margin-left: auto;
  }

  /* line 597, sass/style.scss */
  .tablet-center-text {
    text-align: center;
  }

  /* line 601, sass/style.scss */
  .no-tablet {
    display: none;
  }

  /* line 602, sass/style.scss */
  .show-tablet {
    display: block;
  }
}
/* End Tablet Media Query */
/* ==========================================================================
/* -- Mobile Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (max-width: 739px) {
  /* Mobile Grid
  * For stacking full width columns, please use the new class .mobile-full */
  /* line 624, sass/style.scss */
  .mobile-one {
    width: 6.5%;
  }

  /* line 625, sass/style.scss */
  .mobile-two {
    width: 15%;
  }

  /* line 626, sass/style.scss */
  .mobile-three {
    width: 23.5%;
  }

  /* line 627, sass/style.scss */
  .mobile-four {
    width: 32%;
  }

  /* line 628, sass/style.scss */
  .mobile-five {
    width: 40.5%;
  }

  /* line 629, sass/style.scss */
  .mobile-six {
    width: 49.0%;
  }

  /* line 630, sass/style.scss */
  .mobile-seven {
    width: 57.5%;
  }

  /* line 631, sass/style.scss */
  .mobile-eight {
    width: 66%;
  }

  /* line 632, sass/style.scss */
  .mobile-nine {
    width: 74.5%;
  }

  /* line 633, sass/style.scss */
  .mobile-ten {
    width: 83%;
  }

  /* line 634, sass/style.scss */
  .mobile-eleven {
    width: 91.5%;
  }

  /* line 635, sass/style.scss */
  .mobile-twelve {
    width: 100%;
  }

  /* line 637, sass/style.scss */
  .mobile-full {
    clear: both;
    float: none;
    width: 100%;
    margin: 10px 0 0 0;
    display: block;
  }

  /* line 644, sass/style.scss */
  .mobile-full:first-child {
    margin-top: 0;
  }

  /* line 647, sass/style.scss */
  .mobile-center {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  /* line 652, sass/style.scss */
  .mobile-center:first-child {
    margin-left: auto;
  }

  /* line 653, sass/style.scss */
  .mobile-center-text {
    text-align: center;
  }

  /* line 656, sass/style.scss */
  .mobile-left {
    float: left;
  }

  /* line 657, sass/style.scss */
  .mobile-right {
    float: right;
  }

  /* line 658, sass/style.scss */
  .mobile-no-float {
    float: none;
  }

  /* line 660, sass/style.scss */
  .container, .mobile-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* Mobile Tables */
  /* line 667, sass/style.scss */
  table th,
  table td {
    padding: 4px;
  }

  /* line 671, sass/style.scss */
  .no-mobile {
    display: none;
  }

  /* line 672, sass/style.scss */
  .show-mobile {
    display: block;
  }
}
/* End Mobile Media Query */
