.lgreen-text {
    color: $lgreen;
}
.login-container {
    font-weight: bold;
    @include font-size(20)
}
.login-btn {
    color: $lgreen;
}

/* FORMS */
legend {
    text-indent: 0 !important;
    border-bottom: 1px solid #000;
    width: 100%;
}
label {
    padding: 0 !important;
}
.has-error {
    label {
        font-weight: bold;    
    }
    input {
        border: 1px solid $lgreen !important;
    }
}
.error-block {
    @include font-size(12);
    font-weight: bold;
    color: $lgreen;
}
.form-help {
    @include font-size(12);
    font-family: $pt;
    a {
        text-decoration: none;    
    }
}
.bccf-btn {
    @include font-size(12);
    text-transform: uppercase;
    padding: 5px 15px;
    border: 0;
    font-weight: bold;
}
.lgreen-btn {
    @extend .bccf-btn;
    color: #000;
    background: $lgreen;
    text-decoration: none;
    &:hover {
        background: $yellow;
        text-decoration: none !important;  
    }
}
#form-body,
.form-group {
    margin: 10px 0;
    .section-head {
        @include font-size(20);
        font-family: $roboto;
    }
    p {
        margin-top: 2px;
        margin-bottom: 0;    
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;        
        }
    }
    label {
        @include font-size(12);
        text-transform: uppercase;
    }
    .help-block {
        @include font-size(12);
        margin-top: 0;    
    }
    select,
    textarea,
    input {
        border: 1px solid #000;
        background-color: $sgrey;   
    }
    textarea {
        resize: vertical;
        overflow-y: scroll;
        min-height: 200px;
        width: 100%;   
    }
    #clear-photo,
    #fake-photo {
        height: 30px;
        border: none;
        background-color: #000;
        color: #FFF;
        &:hover{
            background-color: $yellow;
            color: #000;
        }
    }
}
.form-actions.dashed {
    margin-top: 20px;
    input {
        @include font-size(12);
        background-color: inherit;
        color: #000;
        float: left;
        font-weight: bold;
        padding: 4px 22px;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            color: $dgreen;
			text-decoration: none;
			background-color: $yellow;    
        }
    }    
}