.normal-marquee {
    .owl-controls {
        position: absolute;
        text-align: right;
        bottom: -30px;
        right: 0;
        height: 10px;
    }
    .owl-page {
        height: 10px;
        width: 10px;
        margin-left: 5px;
        display: inline-block;
    	zoom: 1;
    	*display: inline;/*IE7 life-saver */   
        span {
            display: block;
            background-color: $lgreen;
        	padding: 5px;
        }      
    }
    .owl-page.active {
        span {
            background-color: $dgreen;            
        }
    }
}
.med-marquee {
    @extend .normal-marquee;
    .owl-controls {
        bottom: 5%;
        right: 2%;
    }
}
.big-marquee {
    @extend .normal-marquee;
    .owl-controls {
        bottom: 5%;
        right: 2%;  
    }
    .marquee-slide {
        height: 400px;    
    }
}

.lightbox {
    color: #000;
    position: absolute;
    bottom: 30%;
    right: 5%;
    width: 400px;
    padding: 15px;
    background: rgba(159,206,180,0.90);
    z-index: 9999;
    .lightbox-title {
        font-size: 25px;
		font-family:$roboto;    
    }
    
    a {
        float: right;
    }     
}

#tag-container {
    position: absolute;
    bottom: 25px;
    left: 25px;
    .a-wrapper {
        font-size: 15px;            
        margin-right: 25px;
        display: inline-block;
        zoom: 1;
        *display: inline;/*IE7 life-saver */
        background-color: $yellow;
        width: 170px;
        
        .tag-box {
            display: block;
            width: 98%; 
            text-decoration: none;
            padding: 5px 10px;     
            .tag-title {
                font-weight: bold;
                display: block;
                border-bottom: 1px solid black;
            }
            span:last-child {
                font-size: 12px;
                font-style: italic;        
            } 
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
.med-marquee,
.big-marquee {
    @include font-size(12);
    .owl-controls {
        right: 5%;
        top: 2%;
        bottom: 0;
    }
}

.big-marquee {
    min-height: 0;
}

#tag-container {
    position: static;
    width: 100%;
    font-size: 20px;
    .a-wrapper {
        width: 100%;
        display: block;
        margin: 0;
        padding: 3px;
        .tag-box {
            width: 99%;
            .a-inner {
                padding: 5px;
                border-bottom: 1px solid #000;
            }
            .tag-title {
                display: inline-block;
                border-bottom: none;
            }
        }    
    }    
}

.lightbox {
    @include font-size(20);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 40px;
    right: 0;
    
    .lightbox-title {
        font-size: inherit;    
    }
    
    a {
        background: none;
        float: none;
        font-size: inherit;
        padding: 0;
        border: none;
        text-align: left;
        text-decoration: underline;
        text-transform: none;
        &:hover {
            background: none;
            color: inherit;         
        }      
    }  
}

#home-listings {
    .owl-controls {
        position: static;
        margin-right: 2%;    
    }
}

#carousel-resources {
    .owl-item.active:last-child {
        margin-right: -2%;
    }
}

}

/******************************************
-- Resource Theme
*******************************************/
.button-slide {
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/** Prev Buttons **/
.button-hover-prev-dgreen:hover {
    background-image: url('../img/arrow-left-dgreen.png');
    @extend .button-slide;
}
.button-hover-prev-dgrey:hover {
    background-image: url('../img/arrow-left-dgrey.png');
    @extend .button-slide;
}
.button-hover-prev-dteal:hover {
    background-image: url('../img/arrow-left-dteal.png');
    @extend .button-slide;
}
.button-hover-prev-lgreen:hover {
    background-image: url('../img/arrow-left-lgreen.png');
    @extend .button-slide;
}
.button-hover-prev-lgrey:hover {
    background-image: url('../img/arrow-left-lgrey.png');
    @extend .button-slide;
}
.button-hover-prev-lteal:hover {
    background-image: url('../img/arrow-left-lteal.png');
    @extend .button-slide;
}
.button-hover-prev-lyellow:hover {
    background-image: url('../img/arrow-left-lyellow.png');
    @extend .button-slide;
}
.button-hover-prev-sgreen:hover {
    background-image: url('../img/arrow-left-sgreen.png');
    @extend .button-slide;
}
.button-hover-prev-sgrey:hover {
    background-image: url('../img/arrow-left-sgrey.png');
    @extend .button-slide;
}
.button-hover-prev-steal:hover {
    background-image: url('../img/arrow-left-steal.png');
    @extend .button-slide;
}
.button-hover-prev-yellow:hover {
    background-image: url('../img/arrow-left-yellow.png');
    @extend .button-slide;
}

.button-prev-dgreen {
    background-image: url('../img/arrow-left-dgreen.png');
    @extend .button-slide;
}
.button-prev-dgrey {
    background-image: url('../img/arrow-left-dgrey.png');
    @extend .button-slide;
}
.button-prev-dteal {
    background-image: url('../img/arrow-left-dteal.png');
    @extend .button-slide;
}
.button-prev-lgreen {
    background-image: url('../img/arrow-left-lgreen.png');
    @extend .button-slide;
}
.button-prev-lgrey {
    background-image: url('../img/arrow-left-lgrey.png');
    @extend .button-slide;
}
.button-prev-lteal {
    background-image: url('../img/arrow-left-lteal.png');
    @extend .button-slide;
}
.button-prev-lyellow {
    background-image: url('../img/arrow-left-lyellow.png');
    @extend .button-slide;
}
.button-prev-sgreen {
    background-image: url('../img/arrow-left-sgreen.png');
    @extend .button-slide;
}
.button-prev-sgrey {
    background-image: url('../img/arrow-left-sgrey.png');
    @extend .button-slide;
}
.button-prev-steal {
    background-image: url('../img/arrow-left-steal.png');
    @extend .button-slide;
}
.button-prev-yellow {
    background-image: url('../img/arrow-left-yellow.png');
    @extend .button-slide;
}

/** Next Buttons **/
.button-hover-next-dgreen:hover {
    background-image: url('../img/arrow-right-dgreen.png');
    @extend .button-slide;
}
.button-hover-next-dgrey:hover {
    background-image: url('../img/arrow-right-dgrey.png');
    @extend .button-slide;
}
.button-hover-next-dteal:hover {
    background-image: url('../img/arrow-right-dteal.png');
    @extend .button-slide;
}
.button-hover-next-lgreen:hover {
    background-image: url('../img/arrow-right-lgreen.png');
    @extend .button-slide;
}
.button-hover-next-lgrey:hover {
    background-image: url('../img/arrow-right-lgrey.png');
    @extend .button-slide;
}
.button-hover-next-lteal:hover {
    background-image: url('../img/arrow-right-lteal.png');
    @extend .button-slide;
}
.button-hover-next-lyellow:hover {
    background-image: url('../img/arrow-right-lyellow.png');
    @extend .button-slide;
}
.button-hover-next-sgreen:hover {
    background-image: url('../img/arrow-right-sgreen.png');
    @extend .button-slide;
}
.button-hover-next-sgrey:hover {
    background-image: url('../img/arrow-right-sgrey.png');
    @extend .button-slide;
}
.button-hover-next-steal:hover {
    background-image: url('../img/arrow-right-steal.png');
    @extend .button-slide;
}
.button-hover-next-yellow:hover {
    background-image: url('../img/arrow-right-yellow.png');
    @extend .button-slide;
}

.button-next-dgreen {
    background-image: url('../img/arrow-right-dgreen.png');
    @extend .button-slide;
}
.button-next-dgrey {
    background-image: url('../img/arrow-right-dgrey.png');
    @extend .button-slide;
}
.button-next-dteal {
    background-image: url('../img/arrow-right-dteal.png');
    @extend .button-slide;
}
.button-next-lgreen {
    background-image: url('../img/arrow-right-lgreen.png');
    @extend .button-slide;
}
.button-next-lgrey {
    background-image: url('../img/arrow-right-lgrey.png');
    @extend .button-slide;
}
.button-next-lteal {
    background-image: url('../img/arrow-right-lteal.png');
    @extend .button-slide;
}
.button-next-lyellow {
    background-image: url('../img/arrow-right-lyellow.png');
    @extend .button-slide;
}
.button-next-sgreen {
    background-image: url('../img/arrow-right-sgreen.png');
    @extend .button-slide;
}
.button-next-sgrey {
    background-image: url('../img/arrow-right-sgrey.png');
    @extend .button-slide;
}
.button-next-steal {
    background-image: url('../img/arrow-right-steal.png');
    @extend .button-slide;
}
.button-next-yellow {
    background-image: url('../img/arrow-right-yellow.png');
    @extend .button-slide;
}

.resource-theme {
    
}