// ==========================================================================

//  Base Mixins - built with SASS - http://sass-lang.com/
//  VCN BCCF Project 2014
//  From the original work of Matthew Hartman with BASE
//  Authors/Contributors: Hugues Deraps, Karl Castillo & Vlad Orlenko.

// ==========================================================================

// Font Sizes (REMs with PX fallback for older browsers)
@mixin font-size($size) {
    font-size: $size + px;
    font-size: ($size/16) + rem;
}

// Line Height Sizes (REMs with PX fallback for older browsers)
@mixin line-height($size) {
    font-size: $size + px;
    font-size: ($size/16) + rem;
}

// Rounded Corners
@mixin rounded($radius) {
  -webkit-border-radius: ($radius) + px;
  -moz-border-radius: ($radius) + px;
  border-radius: ($radius) + px;
}

// Input placeholder text
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}