#pop-up-over {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 9999;
    .content {
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        padding: 15px;
        background-color: #FFF;    
    }
}