.shop-box {
    background-color: $sgrey;    
}
.shop-content {
    .product-box {
        .product-image {
            img {
                width: 100%;
            }
        }
        .product-info {
            h3 {
                font-family: $pt !important;            
            }
        }    
    }
    .product-action {
        border-top: 2px solid $dgrey;
        padding-top: 25px;
        .product-cart {
            border-right: 1px solid $dgrey;
            padding: 25px;        
        }
        .product-warning {
            padding: 25px;        
        }
    }
    #product-variations {
        list-style-type: none;
        padding: 0;
        margin: 0;
        .price {
            display: inline-block;
            font-family: $roboto;        
        }
        .cur-price {
            @include font-size(25);
            color: $lgreen;        
            font-weight: bold;
            margin-right: 15px;
        }
        .save-price {
            color: $lgreen;
            padding-right: 10px;    
        }
        .old-price {
            border-left: 1px solid $dgrey;
            padding-left: 10px;
            color: $lgrey;  
        }
        .save-price,
        .old-price {
            @include font-size(15);        
        }
    }
    .form-shop {
        .input_id_quantity {
            label,
            input[type="number"] {
                display: inline-block;                
            }
            label {
                font-weight: bold;
                &:after {
                    content: ":";                
                }            
            }
            input[type="number"] {
                width: 25%;
                border: 1px solid $dgrey;
                background-color: $sgrey;
            }
        }
        .form-actions-wrap {
            margin-left: 0;        
        }
        .form-actions {
            margin: 10px auto !important;
            display: block;

        }
        .product-added {
            margin: 10px auto;
            color: $lgreen;
            width: 100%; 
            font-weight: bold;       
        }
    }
}
.shop-cart {
    .form-actions {
        text-align: left !important;
        .form-actions-wrap {
            margin: 0;
            float: none;
        }
        * {
            float: none !important;        
        }
        a {
            text-decoration: none;      
        }    
    }
}
#products-header {
    list-style: none;
    margin: 0;
    padding: 0;    
    font-weight: bold;
    border-bottom: 1px solid $lgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 0;  
    li:not(:first-of-type) {
        text-align: right    
    }
}
#products-list {
    list-style: none;
    margin: 0;
    padding: 0;    
    li {
        min-height: 50px;
        border-bottom: 1px solid $lgrey;
        padding-bottom: 20px;
        overflow: auto;
        div {
            padding-top: 13px;        
            padding-bottom: 5px;
        }
        div:first-of-type {
            text-align: left;        
        }
        div:not(:first-of-type) {
            text-align: right;
        }
        input[type='number'] {
            width: 50%;
            border: 1px solid $dgrey;
            background-color: $sgrey;
        }
        input[type='checkbox'] {
            border: 1px solid $dgrey;
            background-color: $sgrey;        
        }
    }
}
#checkout-form {
    fieldset {
        background: none !important; 
        p {
            text-align: left;
            label {
                margin: 0;            
            }    
        }
        #id_same_billing_shipping,
        #id_remember {
            position: absolute;
            left: 350px;
            top: 5px;        
        }
    }
    .form-actions-wrap {
        text-align: right;
        float: none !important;
        margin-left: 0 !important;
        input {
            float: none !important;        
        }    
    }
}
.two-weeks {
    @include font-size(12);
    font-style: italic;
}
div.total {
    margin-top: 15px;
    text-align: right;
    li {
        padding-top: 5px;
        span {
            text-align: left;            
        }      
    }
    li.total {
        @extend .strong;        
    }
    li:not(.total) {
        border-bottom: 1px solid $lgrey;
        padding-bottom: 5px;        
    }
    .two-weeks:before {
        content: '*';
        margin-right: 5px;    
    }
    .two-weeks {
        padding-top: 50px;
        text-align: center;  
    }
}
