.shop-box {
    background-color: $sgrey;    
}
.shop-content {
    .product-box {
        .product-image {
            img {
                width: 100%;
            }
        }
        .product-info {
            h3 {
                font-family: $pt !important;            
            }
        }    
    }
    .product-action {
        border-top: 2px solid $dgrey;
        padding-top: 25px;
        .product-cart {
            border-right: 1px solid $dgrey;
            padding: 25px;        
        }
        .product-warning {
            padding: 25px;        
        }
    }
    #product-variations {
        list-style-type: none;
        padding: 0;
        margin: 0;
        .price {
            display: inline-block;
            font-family: $roboto;        
        }
        .cur-price {
            @include font-size(25);
            color: $lgreen;        
            font-weight: bold;
            margin-right: 15px;
        }
        .save-price {
            color: $lgreen;
            padding-right: 10px;    
        }
        .old-price {
            border-left: 1px solid $dgrey;
            padding-left: 10px;
            color: $lgrey;  
        }
        .save-price,
        .old-price {
            @include font-size(15);        
        }
    }
    .form-shop {
        .input_id_quantity {
            label,
            input[type="number"] {
                display: inline-block;                
            }
            label {
                font-weight: bold;
                &:after {
                    content: ":";                
                }            
            }
            input[type="number"] {
                width: 25%;
                border: 1px solid #000;
                background-color: $sgrey;
            }
        }
        .form-actions-wrap {
            margin-left: 0;        
        }
        .form-actions {
            margin: 10px auto !important;
            display: block;

        }
        .product-added {
            margin: 10px auto;
            color: $lgreen;
            width: 100%; 
            font-weight: bold;       
        }
    }
}
.shop-cart {
    .form-actions {
        a {
            text-decoration: none;      
        }    
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;    
    }
    .total {
        text-align: center;
        li {
            padding-top: 10px;
            padding-right: 10px;
            .text-right {
                text-align: right;            
            }            
        }    
    }
}

#products-header {
    font-weight: bold;
    border-bottom: 1px solid $lgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 0;  
    background-color: $steal;  
    li {
        @extend .center-text;    
    }
}
#products-list {
    li {
        @extend .center-text;
        height: 120px;
        border-bottom: 1px solid $lgrey;
        padding-bottom: 20px;
        div:not(:first-of-type) {
            padding-top: 30px;        
        }
        input[type='number'] {
            width: 50%;
        }    
    }
}
#edit-cart {
    text-align: right;
}
#checkout-form {
    fieldset {
        background: none !important; 
        p {
            text-align: left;
            label {
                margin: 0;            
            }    
        }
        #id_same_billing_shipping,
        #id_remember {
            position: absolute;
            left: 350px;
            top: 5px;        
        }
    }
    .form-actions-wrap {
        @extend .center-text;
        float: none !important;
        margin-left: 0 !important;
        input {
            float: none !important;        
        }    
    }
}