{% load url from future %}
{% load i18n bccf_tags pybb_tags %}

{% pybb_get_profile user=post.user as post_user_profile %}
{% pybb_get_profile user=user as user_profile %}

<li class="section row row-one">
    <div class="col three">
        <img src="{{ MEDIA_URL }}{% bccf_thumbnail post_user_profile.photo 150 150 %}" alt="{{ post.user.username }}" class="photo avatar"/>
    </div>
    <div class="col nine">
        <div class="forum-arrow col one">&nbsp;</div>
        <div class="col eleven post-data">
            <section class="section">
                <span class="col three lgreen-text strong post-author">{{ post.user.username }}</span>
                <span class="col nine post-date">{{ post.created }}</span>
            </section>
            <section class="post-actions row">
                {% if user.is_moderator or post|pybb_posted_by:user %}
                <a href="{% url 'pybb:edit_post' pk=post.id %}">{% trans "Edit" %}</a>
                {% endif %}
                {% if user.is_moderator %}
                <a onclick="pybb_delete_post('{% url 'pybb:delete_post' post.id %}',
                            'post-{{ post.id }}', '{% trans 'Delete post?' %}'); return false;"
                       href="{% url 'pybb:delete_post' post.id %}">{% trans "Delete" %}</a>
                {% if post.on_moderation %}
                <a href="{% url 'pybb:moderate_post' pk=post.id %}">{% trans "Approve post" %}</a>
                {% endif %}
                {% endif %}
                {% if perms.pybb.change_post and user.is_staff %}
                <a href="{% url 'admin:pybb_post_change' post.id %}">{% trans 'Admin' %}</a>
                {% endif %}
            </section>
            <section class="section post-content row row-two">
                {{ post.body_html|safe }}
            </section>
            <div class="row row-two">
                <a href="{% url 'pybb:add_post' topic.id %}?quote_id={{ post.id }}" class="post-quote lgreen-text">{% trans "quote" %}</a>
            </div>
        </div>
    </div>
</li>
