/* line 3, sass/formable_style.scss */
.no-style-list, #form_view ul ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 27, sass/formable_style.scss */
.icon, #form-body .form_row fieldset .icon-container .sort-icon, #form-body .form_row fieldset .icon-container .edit-icon, #form-body .form_row fieldset .icon-container .del-icon {
  height: 22px;
  width: 22px;
}

/* line 32, sass/formable_style.scss */
.section-head {
  font-size: 20px;
  font-size: 1.25rem;
}

/* line 36, sass/formable_style.scss */
.field-container {
  border: 1px solid #cccccc;
  padding: 0;
}
/* line 40, sass/formable_style.scss */
.field-container .field-container-inner {
  padding: 10px;
}
/* line 43, sass/formable_style.scss */
.field-container .field-container-inner .field {
  cursor: move;
  z-index: 99 !important;
}
/* line 48, sass/formable_style.scss */
.field-container .field-container-inner:hover {
  background-color: lightblue;
}
/* line 53, sass/formable_style.scss */
.field-container a {
  display: block;
}

/* line 63, sass/formable_style.scss */
#form-body .form_row fieldset {
  border: 1px solid #cccccc;
  min-height: 25px;
}
/* line 67, sass/formable_style.scss */
#form-body .form_row fieldset li {
  min-height: 30px;
  line-height: 30px;
}
/* line 72, sass/formable_style.scss */
#form-body .form_row fieldset .icon-container {
  float: right;
}
/* line 75, sass/formable_style.scss */
#form-body .form_row fieldset .icon-container b {
  margin: 5px;
  float: right;
  display: block;
}
/* line 81, sass/formable_style.scss */
#form-body .form_row fieldset .icon-container .sort-icon {
  cursor: move;
  background-image: url("../images/sort_icon.png");
}
/* line 86, sass/formable_style.scss */
#form-body .form_row fieldset .icon-container .sort-icon:hover {
  background-image: url("../images/sort_icon_hover.png");
}
/* line 91, sass/formable_style.scss */
#form-body .form_row fieldset .icon-container .edit-icon {
  cursor: pointer;
  background-image: url("../images/edit_icon.png");
}
/* line 97, sass/formable_style.scss */
#form-body .form_row fieldset .icon-container .del-icon {
  cursor: pointer;
  background-image: url("../images/del_icon.png");
}
/* line 106, sass/formable_style.scss */
#form-body .row-active {
  background-color: lightgreen;
}

/* line 112, sass/formable_style.scss */
#form_view fieldset {
  border: 1px solid #ccc;
}
/* line 115, sass/formable_style.scss */
#form_view fieldset legend {
  margin-left: 10px;
}
/* line 120, sass/formable_style.scss */
#form_view ul label {
  width: 150px;
  display: inline-block;
}
/* line 124, sass/formable_style.scss */
#form_view ul li {
  margin: 10px;
}
/* line 129, sass/formable_style.scss */
#form_view ul ul li {
  display: inline;
}
/* line 133, sass/formable_style.scss */
#form_view ul textarea {
  width: 100%;
  height: 300px;
  resize: vertical;
}
