/* ==========================================================================

  VCN BCCF Project 2014
  From the original work of Matthew Hartman with BASE
  Authors/Contributors: Hugues Deraps, Karl Castillo & Vlad Orlenko. 

========================================================================== */

  @import "../mixins/mixins"; // Import the base mixins

  $desktop-container:             1100px;

  $desktop-breakpoint:        $desktop-container + 39px;

  // Heading                  Size
  $h1:                        40;
  $h2:                        32;
  $h3:                        26;
  $h4:                        20;
  $h5:                        18;
  $h6:                        16;



// BCCF Fonts

$roboto: 'Roboto Slab', serif;
$pt: 'PT Sans', sans-serif;

// Main BCCF Colours

$sgrey: #F5F5F5;
$lgrey: #A6B2A6;
$dgrey: #414042;
$lyellow: #FFF0C2;
$yellow: #FDCD26;
$sssteal: #F8FCFA;
$ssteal: #EDF6F1;
$steal: #C0DFCF;
$lteal: #9FCEB4;
$dteal: #5CAC8B;
$ssgreen: #F9FAF4;
$sgreen: #E5E9D2;
$lgreen: #8FAB3D;
$dgreen: #336442;



/* General Resets */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
html, button, input, select, textarea { font-family: sans-serif; }
body, form, fieldset, legend, input, select, textarea, button { margin: 0; }
html { font-size: 100%; }

/* ==========================================================================
/* --  Micro Clearfix and Helpers
   ========================================================================== */

/* Micro Clearfix */
.clear:before, .clear:after { content: ""; display: table; } .clear:after { clear: both; } .clear { zoom: 1; }
.section:before, .section:after { content: ""; display: table; } .section:after { clear: both; } .section { zoom: 1; }
.checkbox:before, .checkbox:after { content: ""; display: table; } .checkbox:after { clear: both; } .checkbox { zoom: 1; }

/* Helpers */
.left { float: left; }
.right { float: right; }
.block { display: block; }
.inline-block {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.inline { display: inline; }
.strong { font-weight: bold; }
.italic { font-style: italic; }
.center-text { text-align: center; }
.none {
  display: none;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -9999em;
}
.visuallyvisible {
  clip: auto;
  width: auto;
  height: auto;
  overflow: visible;
  left: 0;
}


/* ==========================================================================
/* 1.0 - Document Setup (typography, links, paragraph, etc)
   ========================================================================== */
/* Body */
body {
  font-size: 16px;
  color: #555;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family:$pt;
}

/* Strong and Italic */
b, strong { @extend .strong; }

/* Paragraph and Small */
p, pre { margin: 1em 0; }
small { font-size: 80%; }

/* Small,
Sub and Sup */
small { font-size:80%; }
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup { top: -.5em; }
sub { bottom: -.25em; }

/* Definition */
dfn { @extend .italic; }

/* Images */
img {
	max-width: 100%;
	height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.image-left { margin-right: 20px; }
.image-right { margin-left: 20px; }


/* 1.1 Headings - h1, h2, h3, h4, h5, h6 & other (if any)
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  font-family:$roboto;
}
h1, .h1 {
  @include font-size($h1);
  margin-bottom: .2em;
}
h2, .h2 {
  @include font-size($h2);
  margin-bottom: .33em;
}
h3, .h3 {
  @include font-size($h3);
  margin-bottom: .5em;
}
h4, .h4 {
  @include font-size($h4);
  margin-bottom: .5em;
}
h5, .h5 {
  @include font-size($h5);
  margin-bottom: .5em;
}
h6, .h6 {
  @include font-size($h6);
  margin-bottom: .5em;
}
/* Reset Heading */
.no-style-heading {
  font-size: 100%;
  margin: 0;
}

/* Horizontal Rule */
hr {
  border: 0;
  background: none;
  outline: 0;
  background-color: #ddd;
  margin: 2em 0;
  *margin: 1em 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
}

/* 1.3 Lists
   ========================================================================== */
dl, menu, ol, ul {
  margin: 1em 0;
}
ul ul, ol ol, ul ol, ol ul { margin: 0; }
dd { margin: 0 0 0 40px; }
dt { @extend .strong; }
menu, ol, ul { padding: 0 0 0 15px; }
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}
/* Remove Styling from List */
.no-style-list {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* ==========================================================================
/* 2.0 - Grid Layout (Responsive)
   ========================================================================== */
/* Sections & Content Blocks */
.section { position: relative; }


/* Rows */
.row { margin: .5em 0; }
.row-one { margin: 1em 0; }
.row-two { margin: 2em 0; }
.row-three { margin: 3em 0; }

.center {
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: $desktop-container;
  @extend .center;
  padding-left: 10px;
  padding-right: 10px;
}
.container-full {
  max-width: $desktop-container + 20px;
  @extend .center;
}

/* Fluid Grid */
.col {
  margin-left: 1%;
  float: left;
}
.col:first-child { margin-left: 0; }

/* Columns */
.one {
  width: 7%;
}
.two {
  width: 15.5%;
}
.three {
  width: 24%;
}
.four {
  width: 32.5%;
}
.five {
  width: 41%;
}
.six {
  width: 49.5%;
}
.seven {
  width: 58%;
}
.eight {
  width: 66.5%;
}
.nine {
  width: 75%;
}
.ten {
  width: 83.5%;
}
.eleven {
  width: 92%;
}
.twelve {
  width: 100%;
}

.quarter { @extend .three; }
.half { @extend .six; }
.one-third { @extend .four; }

/* =======================================================
INVOICE
========================================================== */
.right-text {
    text-align: right;    
}
table {
    border-collapse: collapse;
    width: 100%;
    tr.header {
        text-align: left;
        background-color: $lteal;
        color: #000;
        th {
            border-bottom: 1px solid #000;
            padding: 5px;    
        }
    }
    ul {
        list-style: none;
        padding: 0; 
        margin: 0;   
    }
    .total-row {
        .total-type {
            text-align: right;
            padding-right: 15px;
            &:after {
                content: ':'    
            }
        }
        .total-row {
            border-bottom: 1px solid #000;
        }   
    }
    .total {
        .total-row {
            border-top: 2px solid #000; 
            border-bottom: none;
        }
    }
}
.container {
    font-family: $pt;
    h2 {
        font-size: 32px;
        font-family: $roboto    
    }
}
.text-right {
    text-align: right;
}
#bccflogo {
	border-right:1px solid $lgrey;
	height:75px;
}
#bccftagline {
	padding:16px;
	font-size:26px;
	text-transform:lowercase;
	height:75px;
}
#order-details {
    margin-bottom: 40px;
}
#order-info {
    header {
        border-bottom: 2px solid #000;
        margin-bottom: 15px;  
        h2 {
            margin-bottom: 0;        
        }
    }
}
#billing {
    li {
        margin-top: 5px;    
        margin-bottom: 5px;    
    }
}
#items {
    .header {
        margin-bottom: 0;    
    }
    tr:nth-of-type(2) {
        border-bottom: 1px solid #000;
        td {
            padding-top: 10px;        
        }
    }
}
footer {
    div:first-child {
        border-bottom: 1px solid #000;
        padding-bottom: 10px;    
    }
    div:last-child {
        margin-top: 10px;    
    }
}