{% load static shop_tags i18n %}
<html>
<head>
    <title>Invoice {{ order.id }} | BCCF</title>
    <link rel="stylesheet" href="{% static "css/invoice.css" %}"/>
</head>

<body>
<div class="container">
    <header class="section row-two">
        <div id="bccflogo" class="col four tablet-six mobile-full"><a href="/"><img src="{% static "img/BCCF_logo_2013.png" %}" alt="BC Council for FAMILIES"/></a></div>
        <div id="bccftagline" class="col tablet-three five mobile-full">y<em><strong>our</strong></em> family.</div>
    </header>
    
    <table id="order-details">
        <tr>
            <td>Invoice number: {{ order.id }}</td>        
            <td class="right-text">{{ order.time|date:"F j, Y" }}</td>        
        </tr>
        <tr>
            <td>Customer number: {{ request.user.profile.account_number }}</td>        
        </tr>
    </table>
    
    <div id="order-info" class="section" cellspacing="0">
        <table class="header">
            <tr>
                <th><h2>Your Details</h2></th>
                <td class="right-text">Paid Via: {{ order.payment_method|title }}</td>            
            </tr>        
        </table>
        
        <!-- Billing -->
        <table id="billing">
            <tr class="header">
                <th>Billing Details</th>
                <th>Shipping Details</th>            
            </tr>
            <tr>
                <td>
                    <ul>
                    {% for field,value in order_billing_detail_fields %}
                    <li class="section">
                        <span class="col three strong">{{ field }}</span>                                
                        <span class="col nine">{{ value }}</span>                                
                    </li>
                    {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                    {% for field, value in order_shipping_detail_fields %}
                        <li class="section">
                            <span class="col three strong">{{ field }}</span>                                
                            <span class="col nine">{{ value }}</span>                                
                        </li>
                    {% endfor %}        
                    </ul>
                </td>
            </tr>
        </table>
        
        <header class="section header">
            <h2>Items Ordered</h2>
        </header>
        
        <table id="items">
            <tr class="header">
                <th>Item</th>            
                <th>Unit Price</th>            
                <th>Qty</th>            
                <th>Price</th>            
            </tr>
            
            {% for item in order.items.all %}
            <tr class="item">
                <td>{{ item.description }}</td>
                <td>{{ item.unit_price|currency }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.total_price|currency }}</td>
            </tr>
            {% endfor %}
            
            <!-- totals -->
            {% order_totals_invoice %}            
        </table>        
    </div>
    
    <footer class="section row row-three">
        <div class="section">
            <span class="col four">208 – 1600 W 6th Ave Vancouver BC V6J 1R3</span>
            <span class="col two">T 604 678 8884</span>
            <span class="col two">F 604 678 8886</span>
            <span class="col two">bccf@bccf.ca</span>
        </div>
        <div class="italic">
            BC Council for Families GST # 11921 7180 RT0001
        </div>
    </footer>
</div>
</body>
</html>
