{% load mezzanine_tags shop_tags rating_tags i18n bccf_rating_tags comment_tags %}
<section id="id_{{ product.pk }}" class="subpage section shop-box">
    <a id="close-btn" href="#" title="Close" class="fa fa-times-circle"></a>
    <div class="subpage-tabs section">
        <ul class="no-style-list">
            <li class="col two mobile-full">
                <a href="{{ product.get_absolute_url }}" id="child-home" class="baby-content-btn">Home</a>
                <div class="shop-content-mobile baby-content">
                    {% include "includes/product.html" %}
                </div>
            </li>
            <li class="col two mobile-full">
                <a href="{{ product.get_absolute_url }}"></a>
            </li>
        </ul>
    </div>
    <div class="subpage-content section row"></div>
    <div class="shop-content home-content section row no-mobile">
        {% include "includes/product.html" %}
    </div>
</section>

<script src="{{ STATIC_URL }}mezzanine/js/jquery.tools.toolbox.expose.js"></script>
<script src="{{ STATIC_URL }}mezzanine/js/jquery.tools.overlay.js"></script>
<script>var variations = {{ variations_json|safe }};</script>
<script src="{{ STATIC_URL }}cartridge/js/product_variations.js"></script>

<script>
    $(function() {
        $('.expand').click(function() {
            var parent = $(this).parents('.comment-header');
            parent.next('.comments').slideToggle('medium');
        });
    });
</script> 

<script type="text/javascript">
$('#close-btn').on('click', function(e) {
    e.preventDefault(); reset();
});
$(function() {
   $('.add-cart-btn').on('click', function(e) {
        e.preventDefault();
        var form = $(this).parents('form');
        $.post("{{ product.get_absolute_url }}", form.serialize(),
            function(r) {
                $('#cart_num_items').html('('+r+')');                
                form.find('span').fadeIn(500).delay(2000).fadeOut(500);            
            }
        );
    }); 
});
</script>
