{% extends "pages/base_bccfpage.html" %}
{% load i18n mezzanine_tags static %}

{% block meta_title %}Create Account{% endblock %}
{% block title %}Create Account{% endblock %}
{% block body_id %}account{% endblock %}

{% block content %}
<h1>Create Your Account</h1>
{% endblock %}

{% block carousels %}

<div id="form-container" class="col twelve">
{% if request.user.is_authenticated %}
    <p>{% trans "You're already logged in. If you'd like to create a new account, you'll need to log out first." %}</p>
{% else %}
    <fieldset>
        <form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
        {# fields_for form #}
        <div class="col four mobile-full">
            <img src="{% static 'img/default_user-image-female.gif' %}" id="fake-photo" class="photo" alt="Default User Photo"/>
            <div class="form-group input_id_photo"> 
                {{ form.photo }}
                <button id="clear-photo">Clear</button>
                <p class="help-block">{{ form.photo.help_text }}</p>
            </div>
        </div>
        <div id="main-form" class="col eight mobile-full">
            <strong class="fieldset-header">Account Information</strong>
            <div class="form-group input_id_first_name"> 
                <p><label class="req" for="id_first_name">{{ form.first_name.label }}</label></p>
                {{ form.first_name }}
                <p class="help-block">{{ form.first_name.help_text }}</p>
                <p class="error-block">{{ form.first_name.errors.as_text|cut:'*' }}</p>
            </div>
            <div class="form-group input_id_last_name">      
                <p><label class="req" for="id_last_name">{{ form.last_name.label }}</label></p>
                {{ form.last_name }}
                <p class="help-block">{{ form.last_name.help_text }}</p>
                <p class="error-block">{{ form.last_name.errors.as_text|cut:'*' }}</p>
            </div>
            <div class="form-group input_id_last_name">      
                <p><label class="req" for="id_last_name">{{ form.gender.label }}</label></p>
                {{ form.gender }}
                <p class="help-block">{{ form.gender.help_text }}</p>
                <p class="error-block">{{ form.gender.errors.as_text|cut:'*' }}</p>
            </div>
            <div class="form-group input_id_postal_code">      
                <p><label class="req" for="id_postal_code">{{ form.postal_code.label }}</label></p>
                {{ form.postal_code }}
                <p class="help-block">{{ form.postal_code.help_text }}</p>
                <p class="error-block">{{ form.postal_code.errors.as_text|cut:'*' }}</p>
            </div>
            <div class="form-group input_id_email">      
                <p><label class="req" for="id_email">{{ form.email.label }}</label></p>
                {{ form.email }}
                <p class="help-block">{{ form.email.help_text }}</p>
                <p class="error-block">{{ form.email.errors.as_text|cut:'*' }}</p>
            </div>
            <div class="form-group input_id_username">      
                <p><label class="req" for="id_username">{{ form.username.label }}</label></p>
                {{ form.username }}
                <p class="help-block">{{ form.username.help_text }}</p>
                <p class="error-block">{{ form.username.errors.as_text|cut:'*' }}</p>
            </div>
            <div class="form-group input_id_password1">      
                <p><label class="req" for="id_password1">{{ form.password1.label }}</label></p>
                {{ form.password1 }}
                <p class="help-block">{{ form.password1.help_text }}</p>
                <p class="error-block">{{ form.password1.errors.as_text|cut:'*' }}</p>
            </div>
            <div class="form-group input_id_password2">      
                <p><label class="req" for="id_password2">{{ form.password2.label }}</label></p>
                {{ form.password2 }}
                <p class="help-block">{{ form.password2.help_text }}</p>
                <p class="error-block">{{ form.password2.errors.as_text|cut:'*' }}</p>
            </div>
            <strong class="fieldset-header row row-one">Account Type</strong>
            <div class="form-group input_id_membership_type"> 
                <p><label class="req" for="id_membership_type">{{ form.membership_type.label }}</label></p>
                {{ form.membership_type }}
                <p class="help-block">{{ form.membership_type.help_text }}</p>
                <p class="error-block">{{ form.membership_type.errors.as_text|cut:'*' }}</p>
            </div>
            <div class="form-group input_id_membership_level">
                <p><label class="req" for="id_membership_level">{{ form.membership_level.label }}</label></p>
                {{ form.membership_level }}
                <p class="help-block">{{ form.membership_level.help_text }}</p>
                <p class="error-block">{{ form.membership_level.errors.as_text|cut:'*' }}</p>            
            </div>
            <div class="form-group input_id_payment_frequency">
                <p><label class="req" for="id_payment_frequency">{{ form.payment_frequency.label }}</label></p>
                {{ form.payment_frequency }}
                <p class="help-block">{{ form.payment_frequency.help_text }}</p>
                <p class="error-block">{{ form.payment_frequency.errors.as_text|cut:'*' }}</p>            
            </div>
            <strong class="fieldset-header row row-one">Account Preferences</strong>
            <div class="form-group checkbox-group input_id_show_in_list"> 
                <label class="req" for="id_show_in_list">Plase add my profile to your <a href="/member/directory" target="_blank">listing of professionals</a></label>
                {{ form.show_in_list }}
                <p class="help-block">{{ form.show_in_list.help_text }}</p>
                <p class="error-block">{{ form.show_in_list.errors.as_text|cut:'*' }}</p>
            </div>
            <div class="form-group checkbox-group input_id_in_mailing_list"> 
                <label class="req" for="id_in_mailing_list">Please add me to your mailing list</label>
                {{ form.in_mailing_list }}
                <p class="help-block">{{ form.in_mailing_list.help_text }}</p>
                <p class="error-block">{{ form.in_mailing_list.errors.as_text|cut:'*' }}</p>
            </div>
            <div class="form-group checkbox-group input_id_first_name"> 
                <label class="req" for="accept">I accept the <a href="#" target="_blank">Terms of User & Privacy</a></label>
                <input id="accept" name="accept" type="checkbox">
                <p class="help-block">{{ form.accept.help_text }}</p>
                <p class="error-block">{{ form.accept.errors.as_text|cut:'*' }}</p>
            </div>
            {% csrf_token %}
            <div class="form-actions dashed-button">
                <input id="create-submit" class="btn btn-primary btn-large" type="submit" value="Create Account">
            </div>
        </div>
        </form>
    </fieldset>
    {% if settings.ACCOUNTS_VERIFICATION_REQUIRED %}
    <p>{% trans "After signing up, you'll receive an email with a link you need to click, in order to activate your account." %}</p>
    {% endif %}
{% endif %}
</div>

{% endblock %}

{% block footer_scripts %}
{{ block.super }}
<script type="text/javascript">
    var default_img = "{% static 'img/default_user-image-female.gif' %}";
    $('#create-submit').on('click', function(e) {
        e.preventDefault();    
        if(!$('#accept').is(':checked')) {
            alert('Please accept the Terms of User & Privacy');
        } else {
            $(this).parents('form').submit();        
        }
    });
    $('#fake-photo').on('click', function(e) {
        e.preventDefault();
        $('#id_photo').trigger('click');
    });
    $('#clear-photo').on('click', function(e) {
        e.preventDefault();
        $('#id_photo').val('').trigger('change');
        
    });
    $('#id_photo').on('change', function(e) {
        var input = this;
        console.log(input.files);
        if(input.files && input.files[0]) {
            console.log('here');
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#photo').attr('src', e.target.result);            
            }        
            reader.readAsDataURL(input.files[0]);
        } else {
            $('#photo').attr('src', default_img);        
        }
    });
</script>
{% endblock %}