{% load bccf_tags %}
<h1>Hello {{ user.get_full_name }}</h1>
<div class="section row row-one">
	{% if user.profile.requested_cancellation %}
		<p class="message cancellation" style="color:red; font-weight: bold;">
			You have requested a cancellation of your membership.
			We are processing your request, and will contact you soon.
		</p>
	{% else %}
		<p>Membership: {% if membership %}Level {{ profile.membership_level }} {{ profile.membership_type|title }}{% else %}Free {{ profile.membership_type|title }}{% endif %}</p>
		<p>Expires: {% if expiration %}{{ expiration }}{% else %}Never{% endif %}</p>

        {% if not profile.is_parent or not profile.is_level_A %}
		<p>
			To extend your current membership, <a href="{{ membership|membership_renew_url }}">click here</a>.
		</p>
		{% endif %}

		{% if not profile.is_level_C and upgrades %}
			<h3>Upgrade to:</h3>
			<ul>
				{% for upgrade in upgrades %}
					<li><a href="{{ upgrade|membership_upgrade_url }}">{{ upgrade }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}

        {% if not profile.is_parent or not profile.is_level_A %}
		<p>
			To cancel your membership, <a href="{% url 'member-membership-cancel' %}">click here</a>
		</p>
		{% endif %}
	{% endif %}
</div>