{% extends "pages/base_bccfpage.html" %}
{% load i18n mezzanine_tags static  %}
{% load bccf_tags bccf_event_tags bccf_accounts_tags %}
{% load bccf_filters %}

{% block meta_title %}Update Account{% endblock %}
{% block title %}Update Account{% endblock %}
{% block body_id %}account{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>Update Account</li>
{% endblock %}

{% block content %}
<h1>Update Your Account</h1>
{% endblock %}

{% block carousels %}
    <div id="form-container" class="col twelve">
        <div class="col four mobile-full">
            <form id="photo-form" method="POST" enctype="multipart/form-data">
                <img src="{{ MEDIA_URL }}{% bccf_thumbnail profile.photo 200 200 %}" id="fake-photo" class="photo" alt="Default User Photo"/>
                <div class="form-group input_id_first_name"> 
                    {{ photo_form.photo }}
                    <p class="help-block">{{ form.photo.help_text }}</p>
                </div> 
                {% csrf_token %}
                <button id="clear-photo">Clear</button>
                <input type="submit" name="update-photo" value="Save" />
                <input type="submit" name="update-photo" value="Delete" />     
            </form>
            <p id="account-number"><strong>Account Number:</strong> {{ profile.account_number }}</p>
            <nav id="tabs" class="section row row-one">
                <ul>
                    <li><a id="id_home" href="{% url 'update' %}">Home</a></li>
                    <li><a id="id_account" href="{% url 'update-tab' 'account' %}">Account Information</a></li>
                    <li><a id="id_contact" href="{% url 'update-tab' 'contact' %}">Contact Information</a></li>
                    {% if not profile.is_parent %}
                        <li><a id="id_profile" href="{% url 'update-tab' 'profile' %}">Professional Profile</a></li>
                        <li><a id="id_social" href="{% url 'update-tab' 'social' %}">Social Media</a></li>
                        <li><a id="id_preferences" href="{% url 'update-tab' 'preferences' %}">Account Preferences</a></li>
                        <li><a id="id_forum" href="{% url 'update-tab' 'forum' %}">Forum Preferences</a></li>
                        {% if not profile.is_level_A %}
                            <li><a id="id_training" href="{% url 'update-tab' 'training' %}">Trainings</a></li>
                            <li><a id="id_campaign" href="{% url 'update-tab' 'campaign' %}">Campaigns</a></li>
                            <li><a id="id_program" href="{% url 'update-tab' 'program' %}">Request Program</a></li>
                            {% if profile.is_organization %}
                            <li><a id="id_adduser" href="{% url 'update-tab' 'adduser' %}">Add Member</a></li>
                            <li><a id="id_feedback" href="{% url 'update-tab' 'members' %}">Organization Members</a></li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <li><a id="id_orders" href="{% url 'update-tab' 'orders' %}">Orders</a></li>
                </ul>
            </nav>
        </div>
        <div id="main-form" class="{% if tab %}{{ tab }}-tab{% else %}home-tab{% endif %} col eight mobile-full">
            {% tab_content %}
        </div>
    </div>
{% endblock %}

{% block footer_scripts %}
{{ block.super }}
<script type="text/javascript">
    var default_img = "{{ MEDIA_URL }}{{ user.profile.photo }}";
    $(function() {
        $('#id_{{ tab }}').addClass('current');
    });
    $('#fake-photo').on('click', function(e) {
        e.preventDefault();
        $('#id_photo').trigger('click');
    });
    $('#clear-photo').on('click', function(e) {
        e.preventDefault();
        $('#id_photo').val('').trigger('change');
        
    });
    $('#id_photo').on('change', function(e) {
        var input = this;
        console.log(input.files);
        if(input.files && input.files[0]) {
            console.log('here');
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#fake-photo').attr('src', e.target.result);            
            }        
            reader.readAsDataURL(input.files[0]);
        } else {
            $('#fake-photo').attr('src', default_img);        
        }
    });
</script>
{% endblock %}