<strong class="fieldset-header">Program Requests</strong>
<nav class="main-list">
	<ul>
	{% for program in user.program_requests.all %}
		<li><h3 class="h5">{{ program.title }}</h3>
		    <ul>
			{% if program.accept %}
    			<li><span class="list-item-name">Status</span><span class="approved">Accepted</span></li>
                <li><span class="list-item-name">Accepted On</span>{{ program.accepted_on }}</li>
            {% else %}
                <li><span class="list-item-name">Status</span><span class="pending">Pending</span></li>
            {% endif %}
            </ul>
	    </li>
	{% empty %}
	   <li>No program requests</li>
	{% endfor %}
	</ul>
</nav>
<a href="{% url 'member-request-program' %}" class="lgreen-btn">Request a Program</a>	