{% extends "accounts/account_form.html" %}
{% load i18n future %}

{% block content %}
<div class="login-header">
    <p><span class="lgreen-text">Sign in</span> to the
    <span class="strong">BC Council for Families'</span> community        
    </p>
    <p>Signing up for a BC Council for Families community account lets you
    participate in many community features such as comments, surveys,
    forums, ratings, and more.</p>
</div>
{% endblock %}

{% block carousels %}
<div class="login-page col twelve">
{% if request.user.is_authenticated %}
    <p>{% trans "You're already logged in." %}</p>
{% else %}
    {{ block.super }}
    <div class="form-help section row row-three">
        <p class="section row">Don't have a BC Council for Families community account?<br/>
            <a href="/accounts/signup" class="lgreen-text strong">Sign up here</a>    
        </p>
        {% url "mezzanine_password_reset" as password_reset_url %}
        {% url "update-tab" "account" as profile_update_url %}
        <p class="section row">Forgot your password?<br/>
            <a href="{{ password_reset_url }}?name={{ profile_update_url }}" class="lgreen-text strong">Reset your password</a>    
        </p>
        <p class="section row">For any other technical issues or assistance, email us at<br/>
            <a href="mailto:bccf@bccf.ca" class="lgreen-text strong">bccf@bccf.ca</a>    
        </p>
    </div>
{% endif %}
</div>

{% endblock %}

