<form method="POST">
    <strong class="fieldset-header">Social Media</strong>
    <div class="form-group input_id_facebook"> 
        <p><label for="id_facebook">{{ form.facebook.label }}</label></p>
        {{ form.facebook }}
        <p class="help-block">{{ form.facebook.help_text }}</p>
        <p class="error-block">{{ form.facebook.errors.as_text|cut:'*' }}</p>
    </div>
    <div class="form-group input_id_twitter"> 
        <p><label  for="id_twitter">{{ form.twitter.label }}</label></p>
        {{ form.twitter }}
        <p class="help-block">{{ form.twitter.help_text }}</p>
        <p class="error-block">{{ form.twitter.errors.as_text|cut:'*' }}</p>
    </div>
    <div class="form-group input_id_linkedin"> 
        <p><label for="id_linkedin">{{ form.linkedin.label }}</label></p>
        {{ form.linkedin }}
        <p class="help-block">{{ form.linkedin.help_text }}</p>
        <p class="error-block">{{ form.linkedin.errors.as_text|cut:'*' }}</p>
    </div>
    <div class="form-group input_id_youtube"> 
        <p><label for="id_youtube">{{ form.youtube.label }}</label></p>
        {{ form.youtube }}
        <p class="help-block">{{ form.youtube.help_text }}</p>
        <p class="error-block">{{ form.youtube.errors.as_text|cut:'*' }}</p>
    </div>
    <div class="form-group input_id_pinterest"> 
        <p><label for="id_pinterest">{{ form.pinterest.label }}</label></p>
        {{ form.pinterest }}
        <p class="help-block">{{ form.pinterest.help_text }}</p>
        <p class="error-block">{{ form.pinterest.errors.as_text|cut:'*' }}</p>
    </div>
    <div class="form-group input_id_othersm">
        <p><label for="id_othersm">{{ form.othersm.label }}</label></p>
        {{ form.othersm }}
        <p class="help-block">{{ form.othersm.help_text }}</p>
        <p class="error-block">{{ form.othersm.errors.as_text|cut:'*' }}</p>
    </div>
    {% csrf_token %}
    <input id="submit" class="btn btn-primary btn-large lgreen-btn" type="submit" value="Save">
</form>
