<form method="POST">
    <strong class="fieldset-header">Contact Information</strong>
    <div class="form-group input_id_organization"> 
        <p><label for="id_organization">{{ form.organization.label }}</label></p>
        {{ form.organization}}
        <p class="help-block">{{ form.organization.help_text }}</p>
        <p class="error-block">{{ form.organization.errors.as_text|cut:'*' }}</p>
    </div>
    <div class="form-group input_id_job_title"> 
        <p><label for="id_job_title">{{ form.job_title.label }}</label></p>
        {{ form.job_title }}
        <p class="help-block">{{ form.job_title.help_text }}</p>
        <p class="error-block">{{ form.job_title.errors.as_text|cut:'*' }}</p>
    </div>
    <div class="form-group input_id_website"> 
        <p><label for="id_website">{{ form.website.label }}</label></p>
        {{ form.website }}
        <p class="help-block">{{ form.website.help_text }}</p>
        <p class="error-block">{{ form.website.errors.as_text|cut:'*' }}</p>
    </div>
    <div class="form-group input_id_phone_primary"> 
        <p><label for="id_phone_primary">{{ form.phone_primary.label }}</label></p>
        {{ form.phone_primary }}
        <p class="help-block">{{ form.phone_primary.help_text }}</p>
        <p class="error-block">{{ form.phone_primary.errors.as_text|cut:'*' }}</p>
    </div>
    <div class="form-group input_id_street"> 
        <p><label for="id_street">{{ form.street.label }}</label></p>
        {{ form.street }}
        <p class="help-block">{{ form.street.help_text }}</p>
        <p class="error-block">{{ form.street.errors.as_text|cut:'*' }}</p>
    </div>
    <div class="form-group input_id_street_2"> 
        <p><label for="id_street_2">{{ form.street_2.label }}</label></p>
        {{ form.street_2 }}
        <p class="help-block">{{ form.street_2.help_text }}</p>
        <p class="error-block">{{ form.street_2.errors.as_text|cut:'*' }}</p>
    </div>
    <div class="section form-group">
        <div class="col six form-group input_id_province"> 
            <p><label for="id_province">{{ form.province.label }}</label></p>
            {{ form.province }}
            <p class="help-block">{{ form.province.help_text }}</p>
            <p class="error-block">{{ form.province.errors.as_text|cut:'*' }}</p>
        </div>
        <div class="col six form-group input_id_postal_code">      
            <p>
                <label for="id_postal_code">{{ form.postal_code.label }}</label>
                {% if form.postal_code.field.required %}<i class="req-asterisk fa fa-asterisk"></i>{% endif %}
            </p>
            {{ form.postal_code }}
            <p class="help-block">{{ form.postal_code.help_text }}</p>
            <p class="error-block">{{ form.postal_code.errors.as_text|cut:'*' }}</p>
        </div>
    </div>
    <div class="form-group input_id_city"> 
        <p><label for="id_city">{{ form.city.label }}</label></p>
        {{ form.city }}
        <p class="help-block">{{ form.city.help_text }}</p>
        <p class="error-block">{{ form.city.errors.as_text|cut:'*' }}</p>
    </div>
    {% csrf_token %}
    <div class="form-actions dashed-button">
        <input id="submit" class="btn btn-primary btn-large" type="submit" value="Save">
    </div>
</form>