{% load i18n mezzanine_tags bccf_tags comment_tags %}
<div id="comment-{{ comment.id }}"
    class="comment media section{% if comment.by_author %} comment-author{% endif %}">

    {% editable comment.is_public comment.is_removed %}
    
    {% if not comment.is_removed and comment.is_public or request.user.is_staff %}
    <div class="section row row-one">
        <div class="col one">
            {% if comment_profile.photo %}
            <img class="comment-photo" src="{{ MEDIA_URL }}{% bccf_thumbnail comment_profile.photo 50 50 %}" alt="{{ user.get_full_name }} />
            {% else %}
            <img class="comment-photo" src="{% static 'default_user-image-male.png' %}" alt="{{ user.get_full_name }}"/>
        </div>
        <div class="col eleven">
            <p>{{ comment.comment|comment_filter }}</p>
            <p class="commenter-info">
                <span>{{ comment_user.first_name }}</span>{% if comment_profile.job_title %}, {{ comment_profile.job_title }}{% endif %}
            </p>
        </div>
    </div>
    {% endif %}
    
    {% if not comment.is_removed and comment.is_public %}
    
    <a href="#reply-{{ comment.id }}" class="reply">
        <i class="fa fa-reply"></i> {% trans "Reply" %}
    </a>
    
    <form class="comment-reply-form comment-form" method="post" id="reply-{{ comment.id }}"
        action="{{ comment_url }}#reply-{{ comment.id }}"
        {% if replied_to != comment.id %}style="display:none;"{% endif %}>
        <h3>{% trans "Post Reply" %}</h3>
        {% if replied_to == comment.id  %}
            {% fields_for posted_comment_form %}
        {% else %}
            {% fields_for unposted_comment_form %}
        {% endif %}
        <div class="dashed-button form-actions">
            <input class="btn btn-primary btn-lg" type="submit" value="{% trans "Submit Reply" %}">
        </div>
    </form>

    {% else %}
        <p>
            {% if comment.is_removed %}
            <span class="glyphicon glyphicon-remove-circle"></span> {% trans "Comment deleted" %}
            {% else %}
            <span class="glyphicon glyphicon-warning-sign"></span> {% trans "Comment awaiting approval" %}
            {% endif %}
            <small class="timespan">{% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %}</small>
        </p>
    {% endif %}

    {% comment_thread comment %}
    
    {% endeditable %}
</div>