{% load i18n mezzanine_tags static bccf_tags comment_tags %}
 
{% if comment_obj %}
    {% if not comment_obj.is_removed and comment_obj.is_public or request.user.is_staff %}
        <div class="section row row-one">
            <div class="col two">
                {% if comment_profile.photo %}
                <img class="comment-photo" src="{{ MEDIA_URL }}{% bccf_thumbnail comment_profile.photo 50 50 %}" alt="{{ user.get_full_name }}" />
                {% else %}
                <img class="comment-photo" src="{% static 'default_user-image-male.png' %}" alt="{{ user.get_full_name }}"/>
                {% endif %}
            </div>
            <div class="col ten">
                <p>{{ comment_obj.comment|comment_filter }}</p>
                <p class="commenter-info">
                    <span>{{ comment_user.first_name }}</span>{% if comment_profile.job_title %}, {{ comment_profile.job_title }}{% endif %}
                </p>
            </div>
        </div>
        {% if request.user.is_authenticated %}
            <a href="#reply-{{ comment_obj.id }}" class="reply">
                <i class="fa fa-reply"></i> {% trans "Reply" %}
            </a>
            
            <form class="comment-reply-form comment-form" method="post" id="reply-{{ comment_obj.id }}"
                action="{{ comment_url }}#reply-{{ comment_obj.id }}"
                {% if replied_to != comment_obj.id %}style="display:none;"{% endif %}>
                <h3>{% trans "Post Reply" %}</h3>
                {% if replied_to == comment_obj.id  %}
                    {% fields_for posted_comment_form %}
                {% else %}
                    {% fields_for unposted_comment_form %}
                {% endif %}
                <input type="hidden" name="replied_to" value="{{ comment_obj.id }}">
                <p>
                    Please be aware that all comments are monitored and approved before they are displayed.        
                </p>
                <div class="dashed-button form-actions">
                    <input class="btn btn-primary btn-lg" type="submit" value="{% trans "Submit Reply" %}">
                </div>
            </form>
        {% endif %}
    {% else %}
        <p>
            {% if comment_obj.is_removed %}
            <span class="glyphicon glyphicon-remove-circle"></span> {% trans "Comment deleted" %}
            {% else %}
            <span class="glyphicon glyphicon-warning-sign"></span> {% trans "Comment awaiting approval" %}
            {% endif %}
            <small class="timespan">{% blocktrans with sometime=comment_obj.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %}</small>
        </p>
    {% endif %}
{% endif %}