<div class="addthis_toolbox addthis_default_style addthis_32x32_style col seven mobile-full">
    <div class="section">
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_print"></a>
        <a class="addthis_button_email"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        var script = "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5306517f3419d9e2";
        if (window.addthis) {
            window.addthis = null;
            window._adr = null;
            window._atc = null;
            window._atd = null;
            window._ate = null;
            window._atr = null;
            window._atw = null;
        }
        $.getScript(script);
    });
</script>