{% extends 'base.html' %}
{% load static bccf_rating_tags content_carousel_tags bccf_big_marquee_tags mezzanine_tags %}

{% block main %}
<div id="content-page-wrapper" class="section"> <!-- Main Wrapper -->
  <section id="main-content-side" class="col eight mobile-full"><!-- Left Side -->
      {% block marquee %}{% endblock %}
      <section id="page-header" class="section">
          {% block content %}
          <article class="col twelve">
            <h1>{% editable page.title %}{{ page.title }}{% endeditable %}</h1>
            {% editable page.content %}{{ page.content|safe }}{% endeditable %}
          </article>
          {% endblock %}
      </section>
      {% block carousels %}{% endblock %}
  </section>

<!-- #main-content-side "Left Side" -->

 <aside id="sidebar" class="col four mobile-full"> <!-- Right Side -->
    {% content_carousel_for_tag %}
     <div id="side-resources" class="section">
     	<div class="res-container">
            <div class="res-box">
                <em>SUGGESTED RESOURCES</em>
                {% content_carousel_for_resources %}
            </div>
       </div>
     </div> <!-- end of #side-resources -->
  </aside>
</div> <!-- end of #content-page-wrapper -->

{% block page_script %}
<script type="text/javascript" >
$(function(){
    $('#slide-container').owlCarousel({
        'singleItem': true,
        'autoPlay': 5000,
        'autoHeight': true,
        'theme': "big-marquee",
    });
    $(window).on('popstate', function(e) {
    	console.log('woulda reload the page to ' + location.pathname + ' here, but won\'t');
        //window.location.href = location.pathname
    });
});
</script>
{% endblock %}

{% endblock %}