{% extends 'base.html' %}
{% load static bccf_rating_tags content_carousel_tags bccf_big_marquee_tags %}

{% block main %}
<div id="content-page-wrapper" class="section"> <!-- Main Wrapper -->
  
  
  <section id="main-content-side" class="col eight mobile-full"><!-- Left Side -->
  {% big_marquee_for %}
  
<nav id="browse-by" class="section"> 
    <div class="browse">Browse By:</div>
    <div id="browse-by-nav" class="mobile-nav-container nav">
        <ul>
            <li>
                <a href="#">Topic</a>
	            <ul>
   	                <li><a href="#">Test Sub Menu1</a></li>
                    <li><a href="#">Test Sub Menu2</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Resources</a>
                <ul>
   	                <li><a href="#">Test Sub Menu1</a></li>
                    <li><a href="#">Test Sub Menu2</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Program</a>
                <ul>
   	                <li><a href="#">Test Sub Menu1</a></li>
                    <li><a href="#">Test Sub Menu2</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
  
  <section id="page-header" class="section">
  
  <article class="col twelve">
  
  <h1>Parenting programs and family service advocacy.</h1>
  <p>Expand your abilities to work with families and children.  Positively influence parents' skills, knowledge, and confidence with our certified parenting programs for families with children ages zero through twelve.</p>
  <p>When you join our growing networks of family professionals, you're part of a community of fellow facilitators, parent educators, and trainers.  You'll have access to our increasing array of tools and resources to support your work with parents and families. And you'll get ongoing professional support and information.</p>
  
  </article>
  
  </section> 
  
  {% content_carousel_for %}

  <section class="content-carousel green-list section">
      <ul>
      <h2>For Families</h2>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>
  </section>
  
  <section class="content-carousel teal-list section">
      <ul>
      <h2>For Professionals</h2>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>
  </section>
  
  <section class="content-carousel yellow-list section">
      <ul>
      <h2>For Professionals</h2>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>
  </section>
  
  <section class="content-carousel dgreen-list section">
      <ul>
      <h2>For Professionals</h2>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>
  </section>
  
 </section> <!-- #main-content-side "Left Side" -->
 
 
 
 <aside id="sidebar" class="col four mobile-full"> <!-- Right Side -->
 
 <div id="tag-widget" class="section">
 
 </div>
 
 </aside><!-- #sidebar "Right Side" -->
 
 
  
  
  </div> <!-- end of #content-page-wrapper --> 
  
<script type="text/javascript" >
$(function(){
    $('#browse-by-nav').Flaunt();
    $('#slide-container').owlCarousel({
        'singleItem': true,
        'autoPlay': 5000,
        'autoHeight': true,
        'theme': "big-marquee",
    });
});
</script>
{% endblock %}