{% extends "pages/base_bccfpage.html" %}

{% load i18n builder_tags mezzanine_tags %}

{% block content %}
<h2>Edit Event</h2>
{% endblock %}
{% block carousels %}
<form  enctype="multipart/form-data" action="{% url 'events-create' %}"  method="POST">
    {% fields_for form %}
    {% form_clone_for event %}
    <div class="form-actions">
        <a href="{% url 'events-publish' event.slug %}" class="lgreen-btn" target="_blank">Publish Event</a>
        <input class="lgreen-btn btn btn-primary btn-large" type="submit" value="Update Event">
    </div>
</form>
{% endblock %}
