{% extends "pages/base_bccfpage.html" %}

{% load i18n %}

{% block content %}
<h2>Edit Event</h2>
{% endblock %}
{% block carousels %}
<form  enctype="multipart/form-data" action="{% url 'events-create' %}"  method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
    	<strong>Survey before:</strong>
    	{% if event.survey_before %}
    		<a href="{{ event.survey_before.get_absolute_url }}">{{ event.survey_before.title }}</a>
    	{% else %}
    		<a href="{% url 'formable-create-form' %}?before_event={{ event.pk }}">Create</a>
    	{% endif %}
    </p>
    <p>
    	<strong>Survey after:</strong>
    	{% if event.survey_after %}
    		<a href="{{ event.survey_after.get_absolute_url }}">{{ event.survey_after.title }}</a>
    	{% else %}
    		<a href="{% url 'formable-create-form' %}?after_event={{ event.pk }}">Create</a>
    	{% endif %}
    </p>
    <p></p>
    <br/><br/>
    <input type="submit" value="Update Event" />
</form>
{% endblock %}
