{% extends "base.html" %}

{% load i18n %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block main %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="POST">
    {% csrf_token %}
    {{ wizard.management_form }}
    {% if  wizard.forms.forms %}
        {{ wizard.form.management.form }}
        {% for form in wizard.form.forms %}
            {{ form }}
        {% endfor %}
    {% else %}
        {{ wizard.form }}
    {% endif %}
    <br/><br/>
    <input type="submit" value="{% trans 'submit' %}" />
</form>
{% endblock %}
