{% extends 'pages/base_bccfpage.html' %}
{% load static mezzanine_tags bccf_tags bccf_big_marquee_tags %}

{% block meta_title %}Member Directory{% endblock %}
{% block title %}User Directory{% if f %} - Filter {{ f }}{% endif %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/vendor/rating.css" %}" />
{% endblock %}

{% block extra_js %}
<script src="{% static "js/rating/jquery.MetaData.js" %}"></script>
<script src="{% static "js/rating/jquery.rating.pack.js" %}"></script>
{% endblock %}

{% block marquee %}{% big_marquee_for page %}{% endblock %}
{% block content %}
<h1>{{ page.title|title }}</h1>
{{ page.content|safe }}
{% endblock %}

{% block carousels %}
<div class="row">
    <nav>
        <ul id="letter-filter"></ul>
    </nav>
</div>

<form id="user-filter-container" class="section row row-one">
    <div class="form-group">
        <span>Member Type:</span>
        <select id="user-filter-select">
            <option value="all">------------</option>        
            <option value="professional" {% if t == 'professional' %}selected{% endif %}>Professional</option>        
            <option value="organization" {% if t == 'organization' %}selected{% endif %}>Organization</option>        
        </select>    
    </div>
</form>

{% for user in recordlist %}
{% include 'includes/user-box.html' %}
{% empty %}
<div class="user-box section row">
    {% if f %}
    <h3>No Members found using: {{ f }} Filter</h3>
    {% else %}
    <h3>No Members found</h3>
    {% endif %}
</div>
{% endfor %}

{% pagination_for recordlist %}

{% endblock %}

{% block footer_scripts %}
{{ block.super }}
<script type="text/javascript" >
$(function() {
    var f = "{{ f }}";
    var type = '';    
    {% if t %}
    type = "type={{ t }}&"
    {% endif %}     
    
    for(var i=26; i<=51; i++) {
        var letter = String.fromCharCode(i+(65-26));

        url = "?"+type+"filter="+letter;        
        
        if(f === letter) {
            $('#letter-filter').append('<li><a href="'+url+'" class="current-filter">'+letter+'</a></li>');
        } else {
            $('#letter-filter').append('<li><a href="'+url+'">'+letter+'</a></li>');
        }
    }
    $('#letter-filter').append('<li><a href="?filter=all">All</a></li>');
});
$('#user-filter-select').on('change', function(e) {
    e.preventDefault();
    var url = "?type="+$(this).val();
    {% if f %}
        url += "&filter={{ f }}";
    {% endif %}
    window.location = url;   
});
</script>
{% endblock %}