{% extends "pages/base_bccfpage.html" %}

{% load i18n %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
<div>
    <h2>Create Training</h2>
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
</div>
{% endblock %}

{% block carousels %}
<div id="form-main" class="container">
    <form action="" enctype="multipart/form-data"  method="POST">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% if  wizard.forms.forms %}
            {{ wizard.form.management.form }}
            {% for form in wizard.form.forms %}
                {{ form.as_p }}
            {% endfor %}
        {% else %}
            {{ wizard.form.as_p }}
        {% endif %}
        <br/><br/>
        {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">
            {% trans "Prev Step" %} 
        </button>
        {% endif %}
        <input id="form_submit" type="submit" value="{% trans 'Next Step' %}" />
    </form>
</div>
{% endblock %}
