{% extends "pages/base_bccfpage.html" %}

{% load bccf_tags %}
{% load bccf_filters %}

{% block content %}
<h1>Hello {{ user }}!</h1>
{% endblock %}

{% block carousels %}
<div class="container">
{% if membership %}
	{% if feedback %}
		{% if feedback.new_users %}
		<div class="alert alert-success" data-alert="alert">
		    <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>
		    <p>Successfully added users:</p>
		    <ul>
		    	{% for u in feedback.new_users.values %}
		    		<li>{{ u.first_name }} {{ u.last_name }} {{ u.email }}</li>
		    	{% endfor %}
		    </ul>
		</div>
		{% endif %}
		{% if feedback.new_user_errors %}
		<div class="alert alert-error" data-alert="alert">
		    <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>
		    <p>Failed to add users:</p>
		    <ul>
		    	{% for line, err in feedback.new_user_errors.items %}
		    		<li>Line {{ line|add:'1' }}: {{ err.0 }}
		    			<ul>
		    				{% for e in err|slice:'1:' %}
		    				<li>{{ e }}</li>
		    				{% endfor %}
		    			</ul>
		    		</li>
		    	{% endfor %}
		    </ul>
		</div>
		{% endif %}
	{% endif %}
	<div class="accordion">
		<h2>Your Membership</h2>
		<div class="groupcontent">
			{% if user.profile.requested_cancellation %}
				<p class="message cancellation" style="color:red; font-weight: bold;">
					You have requested a cancellation of your membership.
					We are processing your request, and will contact you soon.
				</p>
			{% else %}
				<p>Membership: {{ membership }}</p>
				<p>Expires: {{ expiration }}</p>

				<p>
					To extend your current membership, <a href="{{ membership|membership_renew_url }}">click here</a>.
				</p>

				{% if upgrades %}
					<h3>Upgrade to:</h3>
					<ul>
						{% for upgrade in upgrades %}
							<li><a href="{{ upgrade|membership_upgrade_url }}">{{ upgrade }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}

				<p>
					To cancel your membership, <a href="{% url 'member-membership-cancel' %}">click here</a>
				</p>
			{% endif %}
		</div>
		{% if membership|has_feature:'people' %}
			<h2>People</h2>
			<div class="groupcontent">
				<h3>Current members of your organization:</h3>
				<ul>
					{% for member in user.profile.members.all %}
						<li>{{ member.user.get_full_name }} <a href="" class="member-delete">Remove</a>
							<form method="post" action="{% url 'member-delete' %}" class="hidden">
								{% csrf_token %}
								<input type="hidden" name="user" value="{{ member.user.pk }}" />
							</form>
						</li>
					{% endfor %}
				</ul>
				<button id="organization-add-member">Add Members</button>
				<div class="hidden" id="organization-add-member-forms">
					<form method="post" action="{% url 'member-addmember' %}">
						{% csrf_token %}
						<input type="hidden" name="organization" value="{{ user.pk }}"/>
						<div class="flextable threecols">
							<div class="row head"><div class="col">Email</div><div class="col">First Name</div><div class="col">Last Name</div></div>
							<div class="row"><div class="col"><input type="email" name="email-0" /></div><div class="col"><input type="text" name="first_name-0"/></div><div class="col"><input type="text" name="last_name-0"/></div></div>
							<a href="" class="addrow">More</a>
						</div>
						<input type="submit" value="Create new users"/>
					</form>
				</div>
			</div>
		{% endif %}

		{% if membership|has_feature:'events' %}
			<h2>Events</h2>
			<div class="groupcontent">
				{% if user.events.count %}
					<h3>Current Events</h3>
					<ul>
					{% for event in user.events.all %}
						<li>{{ event.title }} ({{ event.date_start|date:'DATETIME_FORMAT' }} &mdash;  {{ event.date_end|date:'DATETIME_FORMAT' }}):
							<a href="{{ event.edit_url }}">edit</a> | <a href="{{ event.get_absolute_url }}">view</a></li>
					{% endfor %}
					</ul>
				{% endif %}
				<a href="{% url 'events-create' %}">Create Event</a>
			</div>
			<h2>Request Program</h2>
			<div class="groupcontent">
                {% if program_requests %}
                    <h3>Programs Requested</h3>
                    <ul>
                    {% for request in program_requests %}
                        <li>
                            {{ request.title|title }}
                            {{ request.comment|safe }}
                            {{ request.accept }}
                            {% if request.accept %}
                            {{ request.accepted_on }}
                            {% endif %}
                        </li>
                    {% endfor %}                    
                    </ul>
                {% endif %}
                <a href="{% url 'member-request-program' %}">Request a Program</a>			
			</div>
		{% endif %}

		{% if membership|has_feature:'subscriptions' %}
			<h2>My Events</h2>
			<div class="groupcontent">
				<h3>Events I am attending:</h3>
				{% if user.eventregistration_set.count %}
					<ul>
					{% for reg in user.eventregistration_set.all %}
						<li>{{ reg.event.title }} ({{ reg.event.date_start|date:'DATETIME_FORMAT' }} &mdash;  {{ reg.event.date_end|date:'DATETIME_FORMAT' }}):
							<a href="{{ reg.event.get_absolute_url }}">view</a></li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
		{% endif %}
	</div>

{% else %}
	<p>To become a member, please select one of the following options:</p>
	<ul>
		<li><a href="/member/membership-parents/">Parent Membership</a></li>
		<li><a href="/member/membership-professionals/">Professional Membership</a></li>
		<li><a href="/member/membership-organizations/">Organization Membership</a></li>
	</ul>
{% endif %}

<p>
	To manage your personal profile, please <a href="/account/update/">click here</a>.
</p>

</div>
{% endblock %}