{% extends "pages/bccfpage.html" %}

{% load bccf_tags %}
{% load bccf_filters %}

{% block content %}
<h1>Hello {{ user }}!</h1>
{% endblock %}

{% block carousels %}
<div class="container">
{% if membership %}
	<div class="accordion">
		<h2>Your Membership</h2>
		<div class="groupcontent">
			{% if user.profile.requested_cancellation %}
				<p class="message cancellation" style="color:red; font-weight: bold;">
					You have requested a cancellation of your membership.
					We are processing your request, and will contact you soon.
				</p>
			{% else %}
				<p>Membership: {{ membership }}</p>
				<p>Expires: {{ expiration }}</p>

				<p>
					To extend your current membership, <a href="{{ membership|membership_renew_url }}">click here</a>.
				</p>

				{% if upgrades %}
					<h3>Upgrade to:</h3>
					<ul>
						{% for upgrade in upgrades %}
							<li><a href="{{ upgrade|membership_upgrade_url }}">{{ upgrade }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}

				<p>
					To cancel your membership, <a href="{% url 'member-membership-cancel' %}">click here</a>
				</p>
			{% endif %}
		</div>
		{% if membership|has_feature:'people' %}
			<h2>People</h2>
			<div class="groupcontent">
				<h3>Current members of your organization:</h3>
				<ul>
					{% for member in user.profile.members.all %}
						<li>{{ member.user.get_full_name }} <a href="" class="member-delete">Remove</a>
							<form method="post" action="{% url 'member-delete' %}" class="hidden">
								{% csrf_token %}
								<input type="hidden" name="user" value="{{ member.user.pk }}" />
							</form>
						</li>
					{% endfor %}
				</ul>
				<button id="organization-add-member">Add Member</button>
				<div class="hidden" id="organization-add-member-forms">
					<div class="accordion-delayed">
						<h3>Add existing user</h3>
						<form method="post" action="{% url 'member-addexisting' %}">
							{% csrf_token %}
							{{ add_existing_user_form.as_p }}
							<input type="submit" value="Add user to organization"/>
						</form>
						<h3>Create new user</h3>
						<form method="post" action="{% url 'member-addmember' %}">
							{% csrf_token %}
							{{ add_user_form.as_p }}
							<input type="submit" value="Create new user"/>
						</form>
					</div>
				</div>
			</div>
		{% endif %}

		{% if membership|has_feature:'events' %}
			<h2>Events</h2>
			<div class="groupcontent">
				Manage events here
			</div>
		{% endif %}
	</div>

{% else %}
	<p>To become a member, please select one of the following options:</p>
	<ul>
		<li><a href="/member/membership-parents/">Parent Membership</a></li>
		<li><a href="/member/membership-professionals/">Professional Membership</a></li>
		<li><a href="/member/membership-organizations/">Organization Membership</a></li>
	</ul>
{% endif %}

<p>
	To manage your personal profile, please <a href="/account/update/">click here</a>.
</p>

</div>
{% endblock %}