{% extends 'pages/base_bccfpage.html' %}
{% load static mezzanine_tags static bccf_rating_tags bccf_event_tags bccf_tags %}

{% block meta_title %}{{ profile.user.get_full_name }}{% endblock %}

{% block meta_description %}{% metablock %}
{{ profile.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/vendor/rating.css" %}" />
{% endblock %}

{% block extra_js %}
<script src="{% static "js/rating/jquery.MetaData.js" %}"></script>
<script src="{% static "js/rating/jquery.rating.pack.js" %}"></script>
{% endblock %}

{% block content %}
    <div id="profile-rating" class="section row row-one">
        {% include 'includes/add_this.html' %}
        {% if profile.membership_level == 'C' %}
            {% bccf_rating_for profile %}
        {% endif %}
    </div>
    <div id="profile-title">  
        <h1>{{ profile.user.get_full_name }}'s Profile</h1>
    </div>
    <p id="profile-social">
        {% if profile.facebook %}
        <a href="{{ profile.facebook }}" class="fa fa-facebook"></a>
        {% endif %}
        {% if profile.twitter %}
        <a href="{{ profile.twitter }}" class="fa fa-twitter"></a>
        {% endif %}
        {% if profile.linkedin %}
        <a href="{{ profile.linkedin }}" class="fa fa-linkedin"></a>
        {% endif %}
    </p>  
{% endblock %}

{% block carousels %}
    <div id="profile-container" class="section row row-one">
        <div class="col four mobile-full">
            <img src="{{ MEDIA_URL }}{% bccf_thumbnail profile.photo 400 400 %}" class="photo" alt="{{ profile.user.get_full_name }}"/>
        </div>
        <div id="profile-info-container" class="col eight mobile-full">
            <div class="profile-info profile-part section">
                <h4>Description</h4>
                <p>{{ profile.description|safe }}</p>            
            </div>
            <div class="contact-info profile-part section row">
                <h4>Contact Information</h4>
                <ul>
                    <li>
                        <span class="list-item-name">Address</span>
                        <a href="http://maps.google.com/?q={{ profile.get_full_address }}" target="_blank">{{ profile.get_full_address }}</a>
                    </li>
                    {% if profile.phone_primary %}
                    <li>
                         <span class="list-item-name"><a href="tel:{{ profile.phone_primary }}"><i class="fa fa-phone-square"></i> Phone</span>
                         {{ profile.phone_primary }}</a>
                    </li>
                    {% endif %}
                    {% if profile.fax %}
                    <li>
                        <span class="list-item-name"><i class="fa fa-print"></i> Fax</span>
                        {{ profile.fax }}                 
                    </li>
                    {% endif %}
                    <li>
                        <span class="list-item-name"><a href="mailto:{{ profile.user.email }}"><i class="fa fa-envelope"></i> Email</span>
                        {{ profile.user.email }}</a>
                    </li>
                    {% if profile.website %}
                    <li>
                        <span class="list-item-name"><i class="fa fa-desktop"></i> Website</span>
                        <a href="{{ profile.website }}" target="_blank">{{ profile.website }}</a>
                    </li>
                    {% endif %} 
                </ul>
            </div>
            {% events_of profile True %}
        </div>
    </div>
{% endblock %}
