{% load static %}
<div id="big-marquee" class="section clear"> 
    <div id="slide-container">
        {% for slide in slides %}
        <div>
            <img src="media/{{ slide.image }}" alt="Marquee Filler"/>
            <div class="lightbox mobile-full">
                <span class="lightbox-title col twelve mobile-twelve">{{ slide.title }}</span>
                <p class="no-mobile">{{ slide.caption }}</p>
                <div class="col twelve mobile-full">
                    <div class="a-wrapper dashed-button">
                        <a href="{{ slide.url }}">{{ slide.linkLabel }}</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if show_tag %}
    <div id="tag-container">
        <div class="a-wrapper dashed-button">
            <a href="tag/" class="tag-box mobile-full">
                <span class="tag-title">Talk</span> 
                <span>Share your story</span>   
            </a>
        </div>
        <div class="a-wrapper dashed-button">
            <a href="tag/" class="tag-box mobile-full">
                <span class="tag-title">Act</span>  
                <span>Take a survey</span>     
            </a>
        </div>
        <div class="a-wrapper dashed-button">
            <a href="tag/" class="tag-box mobile-full">
                <span class="tag-title">Get Involved</span>
                <span>Make change happen</span>
            </a>
        </div>
    </div>
    {% endif %}
</div>