{% load static %}
<div id="big-marquee" class="section clear"> 
    <div id="slide-container">
        {% for slide in slides %}
        <div>
            <img src="media/{{ slide.image }}" alt="Marquee Filler"/>
            <div class="lightbox mobile-full">
                <span class="lightbox-title col mobile-nine">{{ slide.title }}</span>
                <p class="no-mobile">{{ slide.caption }}</p>
                <div class="a-wrapper col mobile-three">
                    <a href="{{ slide.url }}">{{ slide.linkLabel }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if show_tag %}
    <div id="tag-container">
        <div class="a-wrapper">
            <a href="#" class="tag-box mobile-full">
                <span class="tag-title">Talk</span> 
                <span>Share your story</span>   
            </a>
        </div>
        <div class="a-wrapper">
            <a href="#" class="tag-box mobile-full">
                <span class="tag-title">Act</span>  
                <span>Take a survey</span>     
            </a>
        </div>
        <div class="a-wrapper">
            <a href="#" class="tag-box mobile-full">
                <span class="tag-title">Get Involved</span>
                <span>Make change happen</span>
            </a>
        </div>
    </div>
    {% endif %}
</div>
<nav id="browse-by" class="section">
    <div class="browse">Browse By:</div>
    <div id="browse-by-nav" class="mobile-nav-container nav">
        <ul>
            <li>
                <a>Topic</a>
   	            {% if topics %}
	            <ul>
   	                {% for topic in topics %}
   	                <li><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></li>
   	                {% endfor %}
                </ul>
                {% endif %}
            </li>
            <li>
                <a href="{% url 'bccf-page' 'resources' %}">Resources</a>
                <ul>
   	                <li><a href="{% url 'bccf-page' 'resources' %}">Article</a></li>
   	                <li><a href="{% url 'bccf-page' 'resources' %}">Downloadable Form</a></li>
   	                <li><a href="{% url 'bccf-page' 'resources' %}">Magazine</a></li>
   	                <li><a href="{% url 'bccf-page' 'resources' %}">Tip Sheet</a></li>
   	                <li><a href="{% url 'bccf-page' 'resources' %}">Video</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'bccf-page' 'programs' %}">Program</a>
                {% if programs %}
                <ul>
   	                {% for program in programs %}
   	                <li><a href="{{ program.get_absolute_url }}">{{ program.title }}</a></li>
   	                {% endfor %}
                </ul>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
<script type="text/javascript" >
 $(function() {
    $('#browse-by-nav').Flaunt(); 
 });
</script>