{% load static %}
<div id="big-marquee" class="section clear"> 
    <div id="slide-container">
        <div>
            <img src="{% static "img/marquee-home-filler.jpg" %}" alt="Marquee Filler"/>
            <div class="lightbox mobile-full">
                <span class="lightbox-title col mobile-nine">TAG Your Family &amp; Friends</span>
                <p class="no-mobile">
                    You have a voice and your opinions can make a difference for your family and the families of BC! Join us and together
                    we can make BC a better place for families.                
                </p>
                <div class="a-wrapper col mobile-three">
                    <a href="#">Join Us</a>
                </div>
            </div>
        </div>
    </div>
    {% if show_tag %}
    <div id="tag-container">
        <div class="a-wrapper">
            <a href="#" class="tag-box mobile-full">
                <span class="tag-title">Talk</span> 
                <span>Share your story</span>   
            </a>
        </div>
        <div class="a-wrapper">
            <a href="#" class="tag-box mobile-full">
                <span class="tag-title">Act</span>  
                <span>Take a survey</span>     
            </a>
        </div>
        <div class="a-wrapper">
            <a href="#" class="tag-box mobile-full">
                <span class="tag-title">Get Involved</span>
                <span>Make change happen</span>
            </a>
        </div>
    </div>
    {% endif %}
</div>