<nav id="browse-by" class="section">
    <div class="browse">Browse By:</div>
    <div id="browse-by-nav" class="mobile-nav-container nav">
        <ul>
            <li>
                <a>Topic</a>
   	            {% if topics %}
	            <ul>
   	                {% for topic in topics %}
   	                <li><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></li>
   	                {% endfor %}
                </ul>
                {% endif %}
            </li>
            <li>
                <a href="{% url 'page' 'bccf/resources' %}">Resources</a>
                <ul>
   	                <li><a href="{% url 'resource-type' 'article' %}">Article</a></li>
   	                <li><a href="{% url 'resource-type' 'downloadableform' %}">Downloadable Form</a></li>
   	                <li><a href="{% url 'resource-type' 'magazine' %}">Magazine</a></li>
   	                <li><a href="{% url 'resource-type' 'tipsheet' %}">Tip Sheet</a></li>
   	                <li><a href="{% url 'resource-type' 'video' %}">Video</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'page' 'bccf/programs' %}">Program</a>
                {% if programs %}
                <ul>
   	                {% for program in programs %}
   	                <li><a href="{{ program.get_absolute_url }}">{{ program.title }}</a></li>
   	                {% endfor %}
                </ul>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
<script type="text/javascript" >
 $(function() {
    $('#browse-by-nav').Mnav({
        theme: 'bccf-marquee',
        subMenuSpeed: 0,    
    }); 
 });
</script>