{% load i18n mezzanine_tags comment_tags %}
<script>
    $(function() {
        $('.reply').click(function() {
            $('.comment-reply-form').hide();
            $(this).siblings('.comment-reply-form').toggle();
        });
        $('.expand').click(function() {
            $('.comment .comment').hide();
            var parent = $(this).parent('.comment');
            parent.children('.comment').toggle();
        });
        $('.comment').each(function() {
            if($(this).children('.comment').length() > 0) {
                $(this).find('.expand').hide();
            }
        });
        $('.comment .comment').hide();
    });
</script>     

<div id="comments" class="comment-obj-{{ object_for_comments.pk }} comment-container">
    <style>.input_id_honeypot {display:none !important;}</style>
    
    <div class="comment-header">
        <p>{{ object_for_comments.comments_count }} Comment{{ object_for_comments.comments_count|pluralize }}</p>
    </div>
    
    {% comment_thread object_for_comments %}
    
    {% if user.is_authenticated %}
    <form method="post" id="comment" action="{{ comment_url }}#comment" class="comment-form">
        <h3>{% trans "Post a comment" %}</h3>
        {% if not request.POST.replied_to %}
            {% fields_for posted_comment_form %}
        {% else %}
            {% fields_for unposted_comment_form %}
        {% endif %}
        <p>
            Please be aware that all comments are monitored and approved before they are displayed.        
        </p>
        <div class="dashed-button form-actions">
            <input class="btn btn-primary btn-lg" type="submit" value="{% trans "Submit Comment" %}">
        </div>
    </form>
    {% else %}
    <div class="login-container">
        Please <a href="{% url 'login' %}?next={{ request.get_full_path }}" class="login-btn">Sign in</a> or 
        <a href="{% url 'signup' %}" class="login-btn">Sign up</a> to comment.
    </div>
    {% endif %}
</div>