<div id="banner" class="section row row-one">
    <h1>Fancy Carousel Prototype</h1>
</div>
<div id="carousel-container" class="section row row-one">
    <div id="carousel" class="col six center">
        <div class="slide">
            <a class="content-header" href="{% url 'parents-ajax-page' "test" %}">   
                <img src="http://placehold.it/100x50/6eb43f/ffffff&text=Placeholder"/>
                <h3>Parent 1</h3>
            </a>
        </div>
        <div class="slide">
            <a class="content-header" href="{% url 'parents-ajax-page' "test2" %}">   
                <img src="http://placehold.it/100x50/6eb43f/ffffff&text=Placeholder"/>
                <h3>Parent 1</h3>
            </a>
        </div>
    </div>
    <div id="slide-content-container" class="col six center">
        <a id="close-btn" href="#" onclick="reset()">CLOSE</a>
        <div id="slide-content"></div>
    </div>
</div>

<script>
    $(document).ready(function() {
        // Create new Owl Carousel
        $('#carousel').owlCarousel({
            'items': 4,
            'pagination': false,
            'theme': 'bccf-slider',
            'addClassActive': true,
            'startDragging': function(){reset();},
        });
        console.log("test");
        // Reset the contents container
        reset(); 
    });
    
    // Closes the content container, empties it, and resets the classes
    function reset() {
        $('#slide-content-container').hide();
        $('#slide-content').html('');
        $('.content-header-active').removeClass('content-header-active');
    }
    
    $.cergis = $.cergis || {};
    $.cergis.loadContent = function () {
        $('.ajax-loader').show();
        $.ajax({
            url: pageUrl + '?type=ajax',
            success: function (data) {
                $('#slide-content').html(data);
                console.log("test2");
                // hide ajax loader
                $('.ajax-loader').hide();
            }
        });
        if (pageUrl != window.location) {
            window.history.pushState({ path: pageUrl }, '', pageUrl);
        }
        console.log("test3");
    }
    $.cergis.backForwardButtons = function () {
        $(window).on('popstate', function () {
            $.ajax({
                url: location.pathname + '?type=ajax',
                success: function (data) {
                    $('#main-content').html(data);
                }
            });
        });
    }
    $('.content-header').on('click', function(e) {
        if(!$(this).hasClass('content-header-active')) { // was the active one clicked?
            reset();
            pageUrl = $(this).attr('href');
            $.cergis.loadContent();
            $(this).addClass('content-header-active');
            $('#slide-content-container').fadeIn(500);
        } else {
            reset();
        }
        e.preventDefault();
    });
    $.cergis.backForwardButtons();
</script>
