{% load static %}

{% if slides %}
<section id="{{ carouselID }}" class="section content-pages {{ carouselColor }}">
    <div class="section row top-control-container">
        <div class="col four carousel-title-container">
            <h2>{{ carouselTitle }}</h2>
        </div>
        <div id="filter-container" class="col four">
            {% if filter %}
            <form>
                <input type="text" name="sub-page-filter" placeholder="Filter" />
            </form>
            {% endif %}
            &nbsp;
        </div>
        <div id="{{ carouselID }}-control" class="col four no-mobile control-buttons">
            <a href="#" class="show-type-control to-grid">Grid</a>
            <a href="#" class="show-type-control to-slide">Slide</a>
        </div>
    </div>
    <div id="{{ carouselID }}-outer">
        <a class="button-prev-lgrey col one button-prev no-mobile no-tablet"></a>
        <div class="page-container-outer col ten mobile-twelve tablet-twelve">
            <div id="{{ carouselID }}-carousel" class="carousel-slider">
                <!-- SLIDER -->
                {% for slide in slides %}
                    {% if forloop.counter|divisibleby:"4" or forloop.first%}
                    <div>
                        <ul class="page-container-inner">
                    {% endif %}
                            <li class="page-box carousel-box col four">
                                <img src="http://placehold.it/350x75&text=Image{{ slide.img }}" alt="{{ slide.title }}" />
                                <div>
                                    <a href="{% url 'ajax-page' parent=page.title type=carouselTitle page=slide.slug  %}">
                                        <h2>{{ slide.title }}</h2>
                                    </a>
                                    <p class="no-tablet">{{ slide.description|truncatechars:25 }}</p>
                                </div>
                            </li>
                    {% if forloop.counter|divisibleby:"3" or forloop.last %}
                        </ul>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="reset section slide-content twelve"></div>
                <!-- SLIDER END -->
                <!-- GRID -->
            <div id="{{ carouselID }}-grid" class="carousel-grid">
                {% for slide in slides %}
                    {% if forloop.counter|divisibleby:"13" or forloop.first %} <!-- If the first box of the slide -->
                    <div>
                        <ul class="page-container-inner">
                    {% endif %}
                        <li class="page-box grid-box col four">
                            <img src="http://placehold.it/350x75&text=Image{{ slide.img }}" alt="{{ slide.title }}" />
                            <div>
                                <a href="{% url 'ajax-page' parent=page.title type=carouselTitle page=slide.slug  %}">
                                    <h2>{{ slide.title }}</h2>
                                </a>
                                <p class="no-tablet">{{ slide.description|truncatechars:25 }}</p>
                            </div>
                        </li>
                        {% if forloop.counter|divisibleby:"3" or forloop.last %}
                        <li class="grid-content reset col twelve"></li>                  
                        {% endif %}
                    {% if forloop.counter|divisibleby:"12" or forloop.last %}
                        </ul>
                    </div>
                    {% endif %}
                    <!-- GRID END -->
                {% endfor %}
            </div>
        </div>
        <a class="button-next-lgreen col one button-next no-mobile no-tablet"></a>
    </div>
    <div id="{{ carouselID }}-mobile-content-container" class="no-desktop no-tablet mobile-content-container">
        <a class="close-btn" href="#">CLOSE</a>
        <div class="mobile-content"></div>
    </div>
</section>

<script>
    var {{ carouselID }}_offset = 0;
    $(function() {
        {{ carouselID }}_offset = {{ slides|length }};
        // Create new Owl Carousel
        $('#{{ carouselID }}-carousel').owlCarousel({
            'singleItem': true,
            'pagination': false,
            'addClassActive': true,
            'startDragging': function(){ {{ carouselID }}_reset(); },
            'beforeMove': function() { {{ carouselID }}_reset(); },
        });
              
        $('#{{ carouselID }}-grid').owlCarousel({
            'singleItem': true,
            'pagination': false,
            'addClassActive': true,

            'startDragging': function(){ {{ carouselID }}_reset(); },
            'beforeMove': function() { {{ carouselID }}_reset(); },        
        }).hide();
        
        {{ carouselID }}_reset();
        
        if('{{ carouselID }}' === '{{ type }}_id' && $(window).width() >= 725) {
            $('#{{ carouselID }}-control .to-grid').trigger('click');
        }
        
        $(window).on('resize', function(e) {
            {{ carouselID }}_reset();
            if($(window).width() <= 724) {
                $('.to-slide').trigger('click');
            }
        });
        
        {% if open %}
        if($('#{{ carouselID }}-carousel').is(':visible')) {
            $('#{{ carouselID }}-carousel .active .page-box:first-of-type').trigger('click');
        } else if($('#{{ carouselID }}-grid').is(':visible')) {
            $('#{{ carouselID }}-grid .page-box:first-of-type').trigger('click');
        }
        {% endif %}
    });
    
    $('#{{ carouselID }}').on('click', 'a[class^="button"]', function(e) {
        e.preventDefault();
        var carousel = $(this).siblings('div.page-container-outer').children('div[class^="carousel"]:visible');
        if($(this).hasClass('button-prev')) {
            carousel.trigger('owl.prev');
        } else {
            if(carousel.find('.active').is(':last-child')) {
                $.ajax({
                    url: '/get/'+{{ carouselID }}_offset+'/{{ carouselTitle }}',
                });          
            }
            carousel.trigger('owl.next');
        }
    })
    
    // Closes the content container, empties it, and resets the classes
    var {{ carouselID }}_reset = function() {
        $('#{{ carouselID }} .reset').hide().html('');
        $('#{{ carouselID }}-mobile-content-container').hide()
        $('#{{ carouselID }}-mobile-content-container .mobile-container').html('');
        $('#{{ carouselID }} .page-box-active').removeClass('page-box-active');
        $('body').css({overflow: 'auto', height: 'auto'});
    };
    var {{ carouselID }}_loadContent = function() {
        var container = null;
        var loader =  $('<img>', {
            src: '{% static "img/bccf-loader.gif" %}',
            alt: 'Loader',
            class: 'ajax-loader',
        });
        if($(window).width() <= 724) {
            $('body').css({overflow: 'hidden', height: '100%'});
            $('#{{ carouselID }}-mobile-content-container').show();
            container = $('#{{ carouselID }}-mobile-content-container .mobile-content');
        } else if($('#{{ carouselID }}-carousel').is(':visible')) {
            container = $('#{{ carouselID }} .slide-content');
        } else if($('#{{ carouselID }}-grid').is(':visible')) {
            container = $('#{{ carouselID }} .page-box-active').nextAll('.grid-content').first();
        }
        container.html(loader).show();
        $.ajax({
            url: pageParams,
            success: function (data) {
                container.html(data);
                
                $('body, html').animate({
                    'scrollTop':   container.offset().top-160
                }, 500);
            }
        });
        if (pageUrl+pageParams != window.location) {
            window.history.pushState({ path: pageUrl+pageParams }, '', pageUrl+pageParams);
        }
    };
    $('#{{ carouselID }} .page-box').on('click', function(e) {
        if(!$(this).hasClass('page-box-active')) { // was the active one clicked?
            {{ carouselID }}_reset();
            pageUrl = "{{ request.path }}".split(/\/$|\/get/)[0];
            pageParams = $(this).find('a').attr('href');
            $(this).addClass('page-box-active');
            {{ carouselID }}_loadContent();
        } else {
            {{ carouselID }}_reset();
        }
        e.preventDefault();
    });
    $('#{{ carouselID }}-control').on('click', 'a', function(e) {
        e.preventDefault();
        {{ carouselID }}_reset();
        if($(this).hasClass('to-grid')) {
            $('#{{ carouselID }}-carousel').hide();
            $('#{{ carouselID }}-grid').show();
        } else {
            $('#{{ carouselID }}-grid').hide();
            $('#{{ carouselID }}-carousel').show();
        }
    });
    $('#{{ carouselID }}-mobile-content-container').on('click', '.close-btn', function(e) {
        e.preventDefault();
        {{ carouselID }}_reset();
    });
</script>
{% endif %}