{% load static mezzanine_tags %}

{% if slides %}
<section id="{{ carousel_name }}" class="section content-pages {{ carousel_color }}">
    <div class="section row top-control-container">
        <div class="col five carousel-title-container">
            <h2>{{ carousel_title|title }}</h2>
        </div>
        <div id="filter-container" class="col four">
            {% if filter %}
            {% search_form "pybb.Topic" %}
            <!--<form>
                <input type="text" name="sub-page-filter" placeholder="Filter" />
            </form>-->
            {% endif %}
            &nbsp;
        </div>
        <div class="col three no-mobile control-buttons">
            <a href="#" class="show-type-control to-grid">Grid</a>
            <a href="#" class="show-type-control to-slide">Slide</a>
        </div>
    </div>
    <div id="{{ carousel_name }}-inner">
        <a class="button-prev-lgrey col one button-prev no-mobile no-tablet"></a>
        {% include 'generic/content_slides.html' %}
        <a class="button-next-lgreen col one button-next no-mobile no-tablet"></a>
    </div>
</section>

{% endif %}