{% load static bccf_tags %}
{% for slide in slides %}
<div class="{{ class }}-slide">
    <img src="{{ MEDIA_URL }}{% bccf_thumbnail slide.image 535 250 %}" alt="{{ slide.title }}" />
    <div class="{{ class }}-caption">
        <div class="col seven mobile-seven">
            <h4>{{ slide.title }}</h4>
            <p>{{ slide.content|safe|striptags|truncatechars:50 }}<p>
        </div>
        <div class="{{ class }}-buttons col four mobile-four">
            <div class="dashed-button"><a href="{{ slide.get_content_model.get_absolute_url }}" target="_blank">LEARN MORE</a></div>
        </div>
    </div>
</div><!-- End .{{ class }}hpro-slide -->
{% endfor %}
