{% load static bccf_tags %}
{% for slide in slides %}
<div class="hr-item">
  	<div class="hr-images">
  		<a href="{{ slide.get_absolute_url }}" title="{{ slide.title }}">
  		    <div style="background: url('{{ MEDIA_URL }}{% bccf_thumbnail slide.image 225 150 %}') top left no-repeat"></div>
  		    <!--<img src="{{ MEDIA_URL }}{% bccf_thumbnail slide.image 225 150 %}" alt="{{ slide.title }}">-->
  		</a>
  	</div>
    <div class="hr-text">
    	<i>FEATURED {{ slide.get_content_model.get_resource_type|title }}</i>
        <h6>{{ slide.title|truncatechars:20 }}</h6>
        <p>{{ slide.content|safe|striptags|truncatechars:50 }}</p>
    </div>
</div>
{% endfor %}
