{% load mezzanine_tags rating_tags i18n future staticfiles %}

<div id="{{ child_obj.slug }}-rating" class="section col five mobile-full panel my-rating">
    <p id="rating-{{ rating_object.id }}"></p>

    <form method="post" action="{% url "rating" %}" id="rate-form" role="form">
        {% nevercache %}
        {% csrf_token %}
        {% endnevercache %}
        
        {{ rating_form }}

        {% if request.user.is_authenticated %}
        <input type="submit" class="btn" value="{% trans "Rate" %}"
            onclick="return $(this.form).find('input:checked').length == 1;" />
        {% endif %}

        ({{ rating_count }} votes)
    </form>
</div>

<!-- Activate proper number of stars -->
<script type="text/javascript">
    $(function() {
        $('#{{ child_obj.slug }}-rating .star').rating().rating('select', {{ rating_average|floatformat:"0" }} - 1);
        {% if not request.user.is_authenticated %}
        $('#{{ child_obj.slug }}-rating .star').rating('disable');
        {% endif %}
    });
</script>
