{% load static bccf_tags %}
<div id="tag-widget" class="section">
             
    <div class="tag-container">
        <div id="tag-logo"> 
        
            <a href="/tag"><img src="{% static 'img/tag-logo.png' %}" alt="BCCF's TAG Logo"></a>
            <p>TALK&nbsp;&nbsp;ACT&nbsp;&nbsp;GET&nbsp;INVOLVED</p>
            
        </div>
    </div>
 
    <div class="tag-container">
        <div id="tag-talk" class="tag-box">
                
            <div class="tag-top section">
                <em>Talk</em>
                <i>share your story</i>
            </div>
           <div class="tag-carousel">
               {% for talk in talks %}
               <div class="section">
                   <div class="col four">
                        <span class="tag-img" style="background: url('{{ MEDIA_URL }}{% bccf_thumbnail talk.image 75 75 %}') top left no-repeat"></span>
                   </div>
                   <div class="tag-info col eight">
                       <h6>{{ talk.title }}</h6>
                       <p>{{ talk.description|truncatechars:100 }}</p> 
                       <div class="dashed-button"><a href="{{ talk.get_content_model.get_absolute_url }}" target="_blank">more</a></div>
                       </div>
               </div>
               {% endfor %}
           </div>
        </div>
    </div>
    
    <div class="tag-container">
        <div id="tag-act" class="tag-box">
        
            <div class="tag-top section">
                <em>Act</em>
                <i>take a survey</i>
            </div>
           
           <div class="tag-carousel">
               {% for act in acts %}
               <div class="section">
                   <div class="col four">
                        <span class="tag-img" style="background: url('{{ MEDIA_URL }}{% bccf_thumbnail act.image 75 75 %}') top left no-repeat"></span>
                   </div>
                   <div class="tag-info col eight">
                       <h6>{{ act.title }}</h6>
                       <p>{{ act.description|truncatechars:100  }}</p> 
                       <div class="dashed-button"><a href="{{ act.get_content_model.get_absolute_url }}" target="_blank">more</a></div>
                   </div>
               </div>
               {% endfor %}
           </div>
        
        </div>
    </div>
    
    <div class="tag-container">
        <div id="tag-get" class="tag-box">
        
            <div class="tag-top section">
                <em>Get Involved</em>
                <i>join a campaign</i>
            </div>
           
           <div class="tag-carousel">
               {% for get in gets %}
               <div class="section">
                   <div class="col four">
                        <span class="tag-img" style="background: url('{{ MEDIA_URL }}{% bccf_thumbnail get.image 75 75 %}') top left no-repeat"></span>
                   </div>
                   <div class="tag-info col eight">                    
                       <h6>{{ get.title }}</h6>
                       <p>{{ get.description|truncatechars:100  }}</p> 
                       <div class="dashed-button"><a href="{{ get.get_absolute_url }}" target="_blank">more</a></div>
                   </div>
               </div>
               {% endfor %}
           </div>
        
        
        </div>
    </div>
 
 
 </div><!-- end of #tag-widget -->
<script type="text/javascript" >
    $(function() {
        $('.tag-carousel').owlCarousel({
            singleItem: true,
            autoPlay: 5000,
            pagination: false,        
        });
    });
</script>