{% load bccf_event_tags %}

{% if event_objs %}
<section class="user-events">
    <p><strong>Upcoming Trainings</strong></p>
    <div class="event-header section">
        <ul>
            <li class="col four">Date</li>
            <li class="col seven">Program</li>        
        </ul>    
    </div>
    {% for event in event_objs %}
        <div class="event-row section">
            <ul>
                <li class="col four">{{ event.date_start|date:"F d" }}</li>
                <li class="col four">{{ event.program.short_title }}</li>
                <li class="action col two"><a href="{{ event_obj.get_absolute_url }}" title="Learn More" target="_blank">Learn More</a></li>
                {% bccf_short_subscribe_for event "action col two" %}
            </ul>        
        </div>
    {% endfor %}
    <div class="section row">
        <a href="#" target="_blank" title="More">More</a>
    </div>
</section>
{% endif %}