<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags bccf_tags news_tags mezzanine_tags i18n future staticfiles %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.png" %}">
<link rel="apple-touch-icon" sizes="57x57" href="{% static "img/apple-touch-icon.png" %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static "img/apple-touch-icon-72x72.png" %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static "img/apple-touch-icon-114x114.png" %}">
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300|PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bccf-style.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
<link rel="stylesheet" href="{% static "css/slider.css" %}" />
<link rel="stylesheet" href="{% static "css/mnav.css" %}" />
<link rel="stylesheet" href="{% static "css/mnav-theme.css" %}" />
<link rel="stylesheet" href="{% static "css/vendor/owl.carousel.css" %}" />
<link rel="stylesheet" href="{% static "css/vendor/owl.theme.css" %}" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
{% block extra_css %}
{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{% static "js/base/default.js" %}"></script>
<script src="{% static "js/mnav.min.js" %}"></script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>

<script type="text/javascript">
	var $buoop = {
		vs : {
			i : 8,
			f : 15,
			o : 10.6,
			s : 4,
			n : 9
		}
	}

	$buoop.ol = window.onload;
	window.onload = function() {
		try {
			if ($buoop.ol)
				$buoop.ol();
		} catch (e) {
		}
		var e = document.createElement("script");
		e.setAttribute("type", "text/javascript");
		e.setAttribute("src", "http://browser-update.org/update.js");
		document.body.appendChild(e);
	}
</script>
<script src="http://modernizr.com/downloads/modernizr-latest.js"></script>
{% ifinstalled ckeditor %}
<script src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script src="{% static "ckeditor/init.js" %}"></script>
{% endifinstalled %}

{% block extra_js %}
{% endblock %}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXXX-X', 'yoursite.com');
  ga('send', 'pageview');
</script>

</head>
<body id="{% block body_id %}body{% endblock %}">
<div id="pop-up-over" class="none">
    <div class="content"></div>
</div>
<div class="container">

	{% nevercache %}
	{% for message in messages %}
	<div class="alert alert-{{ message.tags }}" data-alert="alert">
	    <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
	</div>
	{% endfor %}
	{% endnevercache %}


    <header class="section row-two">
        <div id="bccflogo" class="col four tablet-six mobile-full"><a href="/"><img src="{% static "img/BCCF_logo_2013.png" %}" alt="BC Council for FAMILIES"/></a></div>
        <div id="bccftagline" class="col tablet-three five mobile-full">y<em><strong>our</strong></em> family.</div>
        <div id="bccflogin" class="col three mobile-full">
            {% if request.user.is_authenticated %}
            <p>Welcome <a href="{% url "update" %}">{{ request.user.get_full_name }}</a></p>
            <p><a href="{% url "logout" %}">Logout</a></p>
            {% else %}
            <p><a href="{% url "login" %}">Login</a></p>
            <p><a href="/accounts/signup">Create Account</a></p>
            {% endif %}
            {% shopping_cart %}
        </div>
    </header>

    <nav id="main-top-nav" class="nav-mobile-container section">
        <span class="row no-desktop mobile-full">Menu</span>
        {% page_menu 'pages/menus/dropdown.html' %}
        <div id="search-bar" class="col four mobile-full">
            {% search_form %}
        </div>
    </nav>

  {% block main %}{% endblock %}
      <!-- end of page content, start of website footer -->
  <footer>

  <nav id="main-footer-nav" class="section row-two">
    {% page_menu 'pages/menus/footer.html' %}
  </nav>

  <section class="section row-one">

    <aside id="newsfeed" class="col four mobile-full">
      {% news_list %}
    </aside>

    <aside id="social" class="col four mobile-full">
        <p>Follow us on:</p>
        <p>
            <a href="https://www.facebook.com/BCFamilies" target="_blank"><img src="{% static 'img/social-icons-FB.gif' %}" alt="Facebook"/></a>
            <a href="https://twitter.com/BC_Families" target="_blank"><img src="{% static 'img/social-icons-TW.gif' %}" alt="Twitter"/></a>
            <a href="http://www.linkedin.com/company/bc-council-for-families" target="_blank"><img src="{% static 'img/social-icons-LI.gif' %}" alt="Linked In"/></a>
            <a href="http://www.youtube.com/user/FamiliesofBC" target="_blank"><img src="{% static 'img/social-icons-YT.gif' %}" alt="You Tube"/></a>
        </p>
    </aside>

    <aside id="newsletter" class="col four mobile-full">
        <h5>Keep up-to-date!</h5>
        <p>Sign-up for our newsletter</p>
        <div class="dashed-button"><a href="#" target="_blank">join</a></div>
    </aside>

    </section>

  </footer>

  <div id="copyright" class="section row-two">
  <p>BC Council for Families &copy; 2014, All rights reserved. | <a href="http://www.webteam.vcn.bc.ca/" target="_blank">Web Design &amp; Development by VCN webteam</a>.</p>
  </div>
</div>

{% block footer_scripts %}
<script>
    $(function() {
        $('#main-top-nav').Mnav({
            theme: 'main-bccf',
            subMenuSpeed: 0,       
        });
    });
    $('.mem-pop-up').on('click', function(e) {
        e.preventDefault();
        var content = $(this).attr('title');
        console.log(content);
        $('#pop-up-over').children('.content').html('<p>'+content+'</p>');
        $('#pop-up-over').show();
        $('html, body').css({ overflow:'hidden'});
    });
    $('#pop-up-over').on('click', function(e) {
        e.preventDefault();
        $(this).hide();
        $(this).children('.content').html('');
        $('html, body').css({ overflow:'auto'});
    });
</script>
{% endblock %}
</body>
</html>
