{% extends "base.html" %}
{% load i18n static bccf_big_marquee_tags bccf_feature_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block main %}
{% big_marquee_for %}
{% browse_by %}

<section id="home-features" class="section">

  <div id="home-calendar" class="col six tablet-full mobile-full">
    <h2>Training Calendar</h2>

    <div class="hcal-text">
    <p>Join one of our many exciting and informative family life education programs.</p>
    <div class="dashed-button"><a href="/trainings" target="_blank">view all</a></div>
    </div>

    <div class="hcal-tabs">
    <div class="hcal-left-side mobile-full">Find trainings for:</div>
    <div class="hcal-right-side mobile-full">
        <a href="#" id="training-families" class="selected training-button">Families</a>
        <a href="#" id="training-professionals" class="training-button">Professionals</a></div>
    </div>
    <div id="hcal-families" class="hcal-inner">
        	<div class="hcal-heading">
                <ul>
                	<li>Date</li>
                    <li>Program</li>
                </ul>
            </div>
            <div id="hcal-families-carousel" class="col twelve mobile-full tablet-full">
                {% for event in eventForParents %}
                
                {% if forloop.counter|divisibleby:"6" or forloop.first %}
                <div>
                {% endif %}
                
                        <div class="hcal-line">
                            <ul>
                                
                            	<li>{{ event.date_start|date:"F d" }}</li>
                                <li>{{ event.program }}</li>
                                <li><a href="{{ event.get_absolute_url }}">Learn More</a></li>
                                <li><a href="#">Register</a></li>
                            </ul>
                        </div>
                
                {% if forloop.counter|divisibleby:"5" or forloop.last %}
                </div>
                {% endif %}
                
                {% empty %}
                
                <div>
                    <div class="hcal-line">
                        No Upcoming Events               
                    </div>                
                </div>
                
                {% endfor %}                
            </div>
            <div id="hcal-professionals-carousel" class="col twelve mobile-full tablet-full">
                {% for event in eventForProfessionals %}
                
                {% if forloop.counter|divisibleby:"6" or forloop.first %}
                <div>
                {% endif %}
                
                        <div class="hcal-line">
                            <ul>
                                
                            	<li>{{ event.date_start|date:"F d" }}</li>
                                <li>{{ event.program.title }}</li>
                                <li><a href="{{ event.get_absolute_url }}">Learn More</a></li>
                                <li><a href="#">Register</a></li>
                            </ul>
                        </div>
                
                {% if forloop.counter|divisibleby:"5" or forloop.last %}
                </div>
                {% endif %}
                
                {% empty %}
                
                <div>
                    <div class="hcal-line">
                        No Upcoming Events               
                    </div>                
                </div>

                {% endfor %}                    
            </div>
        </div>
    </div>

  <div id="home-noteworthy" class="col six tablet-full mobile-full">
    <h2>What's New</h2>
    <div id="noteworthy-carousel">
  	   {% featured_tags %}
  	</div>
  </div>

  <div id="home-programs" class="col six tablet-full mobile-full">
    <h2>Programs</h2>
    <div id="programs-carousel">
        {% featured_programs %}
    </div>
  </div>

  <div id="home-listings" class="twelve tablet-full mobile-full">
    <h2>Member Listing</h2>
    <div id="hlist-left-side" class="col five mobile-full">
        
        <p>Looking for a Family Life Education professional working in your area? Want to connect and network with other professional in your field?</p>
          
        <div class="hlist-buttons">
              <div class="dashed-button"><a href="{% url 'member-directory' %}" target="_blank">Directory</a></div>
              <div class="dashed-button"><a href="/accounts/signup" target="_blank">join</a></div>
        </div>
      
  	</div><!-- End #hlist-left-side -->
      
      <div id="hlist-right-side" class="section col seven mobile-full">
            
      	<div id="member-container" class="hlist-tabs mobile-full">
      	 <a href="#" id="member-professionals" class="selected member-button">Professionals</a>
      	 <a href="#" id="member-organization" class="member-button">Organisations</a>
      	</div>

        
      	<div class="hlist-outer twelve">
  	     <div id="member-professionals-carousel">
    		{% featured_users 'professional' %}
         </div>
         <div id="member-organization-carousel">
    		{% featured_users 'organization' %}
         </div>
        </div>
     </div>
  </div>

  <div id="home-resources" class="twelve tablet-full mobile-full">
      <a class="button-prev button-prev-lgrey col one no-mobile"></a>
      <div id="resources-carousel-container" class="col ten mobile-full">
        <div id="carousel-resources">
            {% featured_resources %}
        </div>
      </div>
      <a class="button-next button-next-lteal col one no-mobile"></a>
  </div>


  <div id="home-history" class="twelve tablet-full mobile-full">
      <a class="button-prev button-prev-dgreen col one no-mobile"></a>
      <div id="history-carousel-container" class="col ten mobile-full">
        <div id="history-carousel">
          {% for slide in footerMarqueeSlides %}
          <div>
              <div class="history-image col six"><img src="media/{{ slide.image }}" alt="History Filler Image"/></div>
              <div class="history-text col six">
                  <h3>{{ slide.title }}</h3>
                  <p>{{ slide.caption }}</p>
              </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <a class="button-next button-next-sgrey col one no-mobile"></a>
  </div>

  </section>
{% endblock %}

{% block footer_scripts %}
{{ block.super }}
<script src="{% static "js/index.min.js" %}" type="text/javascript"></script>
{% endblock %}
