{% extends "base.html" %}
{% load i18n static %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block main %}
<div id="big-marquee" class="section clear"> 
    <div id="slide-container">
        <div>
            <img src="{% static "img/marquee-home-filler.jpg" %}" alt="Marquee Filler"/>
            <div class="lightbox mobile-full">
                <span class="lightbox-title">TAG Your Family &amp; Friends</span>
                <p class="no-mobile">
                    You have a voice and your opinions can make a difference for your family and the families of BC! Join us and together
                    we can make BC a better place for families.                
                </p>
                <div class="a-wrapper">
                    <a href="#">Join Us</a>
                </div>
            </div>
        </div>
        <div>
            <img src="{% static "img/marquee-home-filler.jpg" %}" alt="Marquee Filler"/>
            <div class="lightbox mobile-full">
                <span class="lightbox-title">TAG Your Family &amp; Friends</span>
                <p class="no-mobile">
                    You have a voice and your opinions can make a difference for your family and the families of BC! Join us and together
                    we can make BC a better place for families.                
                </p>
                <div class="a-wrapper">
                    <a href="#">Join Us</a>
                </div>
            </div>
        </div>
        <div>
            <img src="{% static "img/marquee-home-filler.jpg" %}" alt="Marquee Filler"/>
            <div class="lightbox mobile-full">
                <span class="lightbox-title">TAG Your Family &amp; Friends</span>
                <p class="no-mobile">
                    You have a voice and your opinions can make a difference for your family and the families of BC! Join us and together
                    we can make BC a better place for families.                
                </p>
                <div class="a-wrapper">
                    <a href="#">Join Us</a>
                </div>
            </div>
        </div>
        <div>
            <img src="{% static "img/marquee-home-filler.jpg" %}" alt="Marquee Filler"/>
            <div class="lightbox mobile-full">
                <span class="lightbox-title">TAG Your Family &amp; Friends</span>
                <p class="no-mobile">
                    You have a voice and your opinions can make a difference for your family and the families of BC! Join us and together
                    we can make BC a better place for families.                
                </p>
                <div class="a-wrapper">
                    <a href="#">Join Us</a>
                </div>
            </div>
        </div>
        <div>
            <img src="{% static "img/marquee-home-filler.jpg" %}" alt="Marquee Filler"/>
            <div class="lightbox mobile-full">
                <span class="lightbox-title">TAG Your Family &amp; Friends</span>
                <p class="no-mobile">
                    You have a voice and your opinions can make a difference for your family and the families of BC! Join us and together
                    we can make BC a better place for families.                
                </p>
                <div class="a-wrapper">
                    <a href="#">Join Us</a>
                </div>
            </div>
        </div>
    </div>
    <div id="tag-container">
        <div class="a-wrapper">
            <a href="#" class="tag-box mobile-full">
                <span class="tag-title">Talk</span> 
                <span>Share your story</span>   
            </a>
        </div>
        <div class="a-wrapper">
            <a href="#" class="tag-box mobile-full">
                <span class="tag-title">Act</span>  
                <span>Take a survey</span>     
            </a>
        </div>
        <div class="a-wrapper">
            <a href="#" class="tag-box mobile-full">
                <span class="tag-title">Get Involved</span>
                <span>Make change happen</span>
            </a>
        </div>
    </div>
</div>
<nav id="browse-by" class="section"> 
    <div class="browse">Browse By:</div>
    <div id="browse-by-nav" class="mobile-nav-container nav">
        <ul>
            <li>
                <a href="#">Topic</a>
   	            {% if topics %}
	            <ul>
   	                {% for topic in topics %}
   	                <li><a href="#">{{ topic.name }}</a></li>
   	                {% endfor %}
                </ul>
                {% endif %}
            </li>
            <li>
                <a href="#">Resources</a>
                {% if resources %}
                <ul>
   	                {% for resource in resources %}
   	                <li><a href="#">{{ resource.name }}</a></li>
   	                {% endfor %}
                </ul>
                {% endif %}
            </li>
            <li>
                <a href="#">Program</a>
                {% if programs %}
                <ul>
   	                {% for program in programs %}
   	                <li><a href="#">{{ program.name }}</a></li>
   	                {% endfor %}
                </ul>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
<section id="home-features" class="section">
  
  <div id="home-calendar" class="col six tablet-full mobile-full">
    <h2>Training Calendar</h2>
    Find trainings for:
    <a id="training-families" class="training-active training-button">Families</a>
    <a id="training-professionals" class="training-button">Professionals</a>
    <table id="training-families-table">
        <tr>
            <th>Date</th>
            <th colspan="3">Program</th>
        </tr>
        <tr>
            <td>January 17</td>
            <td>My Tween & Me</td>
            <td>Learn More</td>
            <td>Register</td>        
        </tr>
  	</table>
  	<table id="training-professionals-table">
        <tr>
            <th>Date</th>
            <th colspan="3">Program</th>
        </tr>
        <tr>
            <td>January 17</td>
            <td>Mother Goose</td>
            <td>Learn More</td>
            <td>Register</td>        
        </tr>
  	</table>
  </div>
  
  <div id="home-noteworthy" class="col six tablet-full mobile-full">
    <h2>Note-Worthy</h2>
  </div>
  
  <div id="home-programs" class="col six tablet-full mobile-full">
    <h2>Programs</h2>
  </div>
  
  <div id="home-listings" class="twelve tablet-full mobile-full">
    <h2>Member Listing</h2>
  
  </div>
  
  <div id="home-resources" class="twelve tablet-full mobile-full">
  
  <div id="carousel-resources" class="twelve tablet-full mobile-full">
    <div>Resource 1</div>
    <div>Resource 2</div>
    <div>Resource 3</div>
    <div>Resource 4</div>
  </div>
  
  </div>
  
  
  <div id="home-history" class="twelve tablet-full mobile-full">
      <div>
          <div class="history-image col six"><img src="../../static/img/history-filler-image.png" alt="History Filler Image"/></div>
          <div class="history-text col six">
              <h3>It all started in 1976</h3>
              <p>At the 1976 BC Conference on the Family 94 recommendations for action were issued and it was resolved to establish the BC Council for the Family. In 1977 the BC Council for the Family is incorporated as a non-profit society and opens an office in Victoria.</p>
          </div>
      </div>
      
      <div>
          <div class="history-image col six"><img src="../../static/img/history-filler-image.png" alt="History Filler Image"/></div>
          <div class="history-text col six">
              <h3>Slide 2 Test</h3>
              <p>At the 1976 BC Conference on the Family 94 recommendations for action were issued and it was resolved to establish the BC Council for the Family. In 1977 the BC Council for the Family is incorporated as a non-profit society and opens an office in Victoria.</p>
          </div>
      </div>
  
  </div>
  
  </section>


<script type="text/javascript" >
$(function(){
    $('#browse-by-nav').Flaunt();
    $('#slide-container').owlCarousel({
        'singleItem': true,
        'autoPlay': 5000,
        'autoHeight': true,
        'stopOnHover': true,
        'theme': "big-marquee",
    });
    $('#carousel-resources').owlCarousel({
        'items': 3,
        'autoPlay': 5000,
        'pagination': false,
        'stopOnHover': true,
        'navigation': true,
        'theme': 'reseource-theme',
    });
    $('#home-history').owlCarousel({
        'singleItem': true,
        'autoPlage': 5000,
        'pagination': false,
        'stopOnHover': true,
        'navigation': true,
        'theme': 'history-theme',
    });
    $('#training-families-table').show();
    $('#training-professionals-table').hide();
});

$('.training-button').on('click', function() {
    if($(this).attr('id') === 'training-families') {
        $('.training-active').removeClass('training-active');
        $(this).addClass('training-active');
        $('#training-families-table').show();
        $('#training-professionals-table').hide();
    } else {
        $('.training-active').removeClass('training-active');
        $(this).addClass('training-active');
        $('#training-families-table').hide();
        $('#training-professionals-table').show();
    }
});
</script>
{% endblock %}
