{% extends "base.html" %}
{% load i18n static %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block main %}
<div id="marquee-home" class="section clear"> 
    <a href="#"><img src="{% static "img/marquee-home-filler.jpg" %}" alt="Marquee Filler"/></a>
</div>

<nav id="browse-by" class="section"> 
    <div class="browse">Browse By:</div>
    <div id="browse-by-nav" class="mobile-nav-container nav">
        <ul>
            <li>
                <a href="#">Topic</a>
	            <ul>
   	                <li><a href="#">Test Sub Menu1</a></li>
                    <li><a href="#">Test Sub Menu2</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Resources</a>
                <ul>
   	                <li><a href="#">Test Sub Menu1</a></li>
                    <li><a href="#">Test Sub Menu2</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Program</a>
                <ul>
   	                <li><a href="#">Test Sub Menu1</a></li>
                    <li><a href="#">Test Sub Menu2</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<section id="home-features" class="section">
  
  <div id="home-calendar" class="col six tablet-full mobile-full">
  	
  </div>
  
  <div id="home-noteworthy" class="col six tablet-full mobile-full">
  
  </div>
  
  <div id="home-programs" class="col six tablet-full mobile-full">
  
  </div>
  
  <div id="home-listings" class="twelve tablet-full mobile-full">
  
  
  </div>
  
  <div id="home-resources" class="twelve tablet-full mobile-full">
  
  <ul id="carousel-resources" class="twelve tablet-full mobile-full">
  
  </ul>
  
  </div>
  
  
  <ul id="home-history" class="twelve tablet-full mobile-full">
  
      <li>
          <div class="history-image col six"><img src="../../static/img/history-filler-image.png" alt="History Filler Image"/></div>
          <div class="history-text col six">
              <h3>It all started in 1976</h3>
              <p>At the 1976 BC Conference on the Family 94 recommendations for action were issued and it was resolved to establish the BC Council for the Family. In 1977 the BC Council for the Family is incorporated as a non-profit society and opens an office in Victoria.</p>
          </div>
      </li>
      
      <li>
          <div class="history-image"><img src="../../static/img/history-filler-image.png" alt="History Filler Image"/></div>
          <div class="history-text">
              <h3>Slide 2 Test</h3>
              <p>At the 1976 BC Conference on the Family 94 recommendations for action were issued and it was resolved to establish the BC Council for the Family. In 1977 the BC Council for the Family is incorporated as a non-profit society and opens an office in Victoria.</p>
          </div>
      </li>
  
  </ul>
  
  </section>


<script type="text/javascript" >
$(function(){
    $('#browse-by-nav').Flaunt();
});
</script>
{% endblock %}
