// Your custom website styles for desktop go here...
// Colors:
$tablet-container:          720px;
$mobile-breakpoint:         $tablet-container + 19px;

$bccfColorHex: #6eb43f;
$bccfColorRGBA: rgba(110, 180, 63, 0.90);
$bccfColor2Hex: #00aeef;
$bccfColor2RGBA: rgba(0, 174, 239, 0.90);
$white: #fff;

// Measurements
$margin10: 10px;
$padding10: 10px;

// Content Slider CSS
.bccf-slider {
    margin: 0;
    
    .content-header {
        display: block;
        background-color: $bccfColorHex;
        margin: 0 ($margin10/2);
        cursor: pointer;
        padding: ($padding10) 0 0 0;
        text-align: center;
        
        img {
            box-shadow: none;
        }
        
        h3 {
            margin: 0;
        }
        
        > div {
            display: none;
        }
    }
    
    .content-header-active {
        background-color: $bccfColor2Hex;
        border-bottom: ($margin10) solid $bccfColor2Hex;
    }
}

#slide-content-container {
    background-color: $bccfColor2Hex;
    padding: ($padding10);
    margin: 0 (($margin10/2) - 1) 0 ($margin10/2);
    width: auto;
    color: $white;
    
    img {
        display: block;
        margin: auto;
    }
    
    #close-btn {
        display: none;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    // Your custom website styles for mobile devices go here...
    .bccf-slider {

        .owl-wrapper > div[class$="owl-item"] {
            position: relative;
            left: -($margin10);
        }
        
        .active {
            margin-right: ($margin10/4);
        }
        
        .content-header-active {
            border-bottom: none;
        }
    }

    #slide-content-container {
        background: $bccfColor2RGBA;
        position: fixed !important;
        height: 100vh !important;
        overflow-y: auto !important;
        margin: 0;
        top: 0;
        left: 0;
        z-index: 99 !important;
        
        #close-btn {
            display: block;
            color: $white;
            font-weight: bold;
            margin-bottom: ($margin10/2);
            cursor: pointer;
            text-align: right;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
