{% extends "pages/base_bccfpage.html" %}

{% load static content_carousel_tags mezzanine_tags %}

{% block meta_title %}{{ page.title|title }}{% endblock %}
{% block title %}{{ page.title|title }}{% endblock %}

{% block content %}
    {% editable page.title page.content %}
    <h1>{{ page.title }}</h1>
    {{ page.content|safe }}
    {% endeditable %}
{% endblock %}

{% block carousels %}
{% content_carousel_for_topic page 'parent' %}
{% content_carousel_for_topic page 'professional' %}
{% endblock %}

{% block footer_scripts %}
<script type="text/javascript">
$(function() {
    $('.to-carousel').owlCarousel({
        'singleItem': true,
        'pagination': false,
        'addClassActive': true,
    });
    
    $('.carousel-grid').hide();
    
    $('#slide-container').owlCarousel({
        'singleItem': true,
        'autoPlay': 5000,
        'autoHeight': true,
        'theme': "normal-marquee",
    });
    
    $(window).on('resize', function(e) {
        if($(window).width() <= 724) {
            $('.to-slide').trigger('click');
        }
    });
});

/** EVENT LISTENTERS **/
$('.content-pages').on('click', '.page-box', function(e) {
    e.preventDefault();
    if($(e.target).hasClass('page-box')) {
        clicked = $(e.target);
    } else {
        clicked = $(e.target).parents('.page-box');
    }
    window.open(clicked.find('a').attr('href'), '_blank');
});

$('.control-buttons').on('click', 'a', function(e) {
    e.preventDefault();
    parent = $(this).parents('.content-pages');
    if($(this).hasClass('to-grid')) {
        parent.find('.carousel-slide').hide();
        parent.find('.carousel-grid').show();
    } else {
        parent.find('.carousel-grid').hide();
        parent.find('.carousel-slide').show();
    }
});

$('.content-pages').on('click', 'a[class^="button"]', function(e) {
    e.preventDefault();
    var carousel = $(this).siblings('.page-container-outer').children('div[class^="carousel"]:visible');
    if($(this).hasClass('button-prev')) {
        carousel.trigger('owl.prev');
    } else {
        var parent = $(this).parents('.content-pages');
        if(carousel.find('.active').is(':last-child')) {
            var offset = carousel.find('.owl-item .page-box').length;
            if(offset % 1 === 0) {
                $.ajax({
                    url: '/next/{{ page.slug }}/'+parent.attr('id')+'/'+offset+'/',
                    success: function(data) {                    
                        parent.find('.carousel-slide').data('owlCarousel').addItem(data.slide);
                        parent.find('.carousel-grid').data('owlCarousel').addItem(data.grid);
                        if(carousel.hasClass('carousel-slide')) {
                            parent.find('.carousel-grid').hide();                     
                        } else {
                            parent.find('.carousel-slide').hide();
                        }
                        carousel.trigger('owl.next');
                    },
                });
            }        
        } else {
            carousel.trigger('owl.next');
        }            
    }
});

</script>
{{ block.super }}
{% endblock %}