{% extends "pages/bccfpage.html" %}

{% load static content_carousel_tags mezzanine_tags shop_tags i18n %}

{% block carousels %}

{% product_category_carousel page %}

{% if child_categories %}
	{% for category in child_categories %}
		{% product_category_carousel category %}
	{% endfor %}
{% endif %}

{% endblock %}

{% block footer_scripts %}
{{ block.super }}

{% if type %}
<script type="text/javascript">
    $(function() {
        $('#{{ type }}').scrollTop();
        $('#{{ type }} .to-grid').trigger('click');
    });
</script>
{% endif %}

{% endblock %}