{% extends "pages/bccfpage.html" %}

{% load static content_carousel_tags %}

{% block carousels %}
{% content_carousel_for page 'Article' child 'article' %}
{% content_carousel_for page 'Downloadable Form' child 'downloadableform' %}
{% content_carousel_for page 'Magazine' child 'magazine' %}
{% content_carousel_for page 'Tip Sheet' child 'tipsheet' %}
{% content_carousel_for page 'Video' child 'video' %}
{% endblock %}

{% block footer_scripts %}
{{ block.super }}

{% if type %}
<script type="text/javascript">
    $(function() {
        $('#{{ type }}').scrollTop();
        $('#{{ type }} .to-grid').trigger('click');
    });
</script>
{% endif %}

{% endblock %}