{% extends "pages/bccfpage.html" %}

{% load static content_carousel_tags %}

{% block carousels %}

{% if child %}
    <a name="talk"></a>{% content_carousel_for page 'Talk' child 'topic' %}
    <a name="act"></a>{% content_carousel_for page 'Act' child 'formpublished' %}
    <a name="involved"></a>{% content_carousel_for page 'Get Involved' child 'campaign' %}
{% else %}
    <a name="talk"></a>{% content_carousel_for page 'Talk' None 'topic' %}
    <a name="act"></a>{% content_carousel_for page 'Act' None 'formpublished' %}
    <a name="involved"></a>{% content_carousel_for page 'Get Involved' None 'campaign' %}
{% endif %}

<div id="mobile-content" class="no-desktop no-tablet mobile-content-container"></div>
{% endblock %}
