{% load static bccf_tags bccf_filters %}
{% for slide in slides %}
    {% if  forloop.counter|add:2|divisibleby:"3" or forloop.first %}
    <div>
        <ul class="page-container-inner">
    {% endif %}
            <li id="{{ slide.slug }}" class="page-box {% if slide.content_model == 'topic' or slide.content_model == 'formpublished' %} go-blank {% endif %} carousel-box col four">   
                <div class="page-image" style="background: url('{{ MEDIA_URL }}{% bccf_thumbnail slide.image 195 110 %}') top left no-repeat;"></div>
                <div>
                    {% if slide.content_model == 'topic' or slide.content_model == 'formpublished' %}
                    <a href="{{ slide.get_content_model.get_absolute_url }}">
                    {% else %}
                    <a href="{{ slide.get_absolute_url }}">
                    {% endif %}
                        <h2>{{ slide.title|truncatechars:25 }}</h2>
                    </a>
                    <p class="no-tablet no-mobile">
                        {% if slide.content_model == 'formpublished' and slide.get_content_model.closed %}
                            View Results
                        {% else %}
                            {{ slide.description|truncatechars:75 }}
                        {% endif %}
                    </p>
                </div>
            </li>
    {% if forloop.counter|divisibleby:"3" or forloop.last %}
        </ul>
    </div>
    {% endif %}
{% endfor %}