{% load static bccf_tags %}
{% for slide in slides %}
    {% if forloop.counter|divisibleby:"13" or forloop.first %} <!-- If the first box of the slide -->
    <div>
        <ul class="page-container-inner">
    {% endif %}
            <li id="id_{{ slide.slug }}" class="page-box {% if slide.content_model == 'topic' or slide.content_model == 'formpublished' %} go-blank {% endif %} grid-box col four">
                <div class="page-image" style="background: url('{{ MEDIA_URL }}{% bccf_thumbnail slide.image 195 110 %}') top left no-repeat">
                    {% if slide.content_model == 'formpublished' %}
                        {% if slide.get_content_model.closed %}                    
                            <img src="{% static 'img/close-survey.png' %}" alt="Survey Closed"/>
                        {% endif %}
                    {% endif %}                
                </div>
                <div>
                    {% if slide.content_model == 'topic' or slide.content_model == 'formpublished' %}
                    <a href="{{ slide.get_content_model.get_absolute_url }}">
                    {% else %}
                    <a href="{{ slide.get_absolute_url }}">
                    {% endif %}
                        <h2>{{ slide.title|truncatechars:25 }}</h2>
                    </a>
                    <p class="no-tablet">
                        {% if slide.content_model == 'formpublished' and slide.get_content_model.closed %}
                            View Results
                        {% else %}
                            {{ slide.description|truncatechars:75 }}
                        {% endif %}
                    </p>
                </div>
            </li>
        {% if slide.content_model != 'topic' and slige.content_model != 'formpublished' %}
            {% if forloop.counter|divisibleby:"3" or forloop.last %}
            <li class="grid-content reset col twelve"></li>
            {% endif %}           
        {% endif %}
    {% if forloop.counter|divisibleby:"12" or forloop.last %}
        </ul>
    </div>
    {% endif %}
    <!-- GRID END -->
{% endfor %}