{% load static bccf_tags bccf_filters %}
{% for slide in slides %}
    {% if  forloop.counter|add:2|divisibleby:"3" or forloop.first %}
    <div>
        <ul class="page-container-inner">
    {% endif %}
            <li id="{{ slide.slug }}" class="page-box carousel-box col four">
                <img src="{{ MEDIA_URL }}{% bccf_thumbnail slide.image 195 75 %}" alt="{{ slide.title }}" />
                <div>
                    <a href="{{ slide.get_absolute_url }}">
                        <h2>{{ slide.title }}</h2>
                    </a>
                    <p class="no-tablet">{{ slide.description|truncatechars:30 }}</p>
                </div>
            </li>
    {% if forloop.counter|divisibleby:"3" or forloop.last %}
        </ul>
    </div>
    {% endif %}
{% endfor %}