<!-- SLIDER -->
{% for slide in slides %}
    {% if forloop.counter|divisibleby:"4" or forloop.first%}
    <div>
        <ul class="page-container-inner">
    {% endif %}
            <li class="page-box carousel-box col four">
                <img src="http://placehold.it/350x75&text=Image{{ slide.img }}" alt="{{ slide.title }}" />
                <div>
                    <a href="{% url 'ajax-page' parent=page.title type=carouselTitle page=slide.slug  %}">
                        <h2>{{ slide.title }}</h2>
                    </a>
                    <p class="no-tablet">{{ slide.description|truncatechars:25 }}</p>
                </div>
            </li>
    {% if forloop.counter|divisibleby:"3" or forloop.last %}
        </ul>
    </div>
    {% endif %}
{% endfor %}