<div class="page-container-outer col ten mobile-twelve tablet-twelve">
    <div id="{{ carousel_name }}_id-carousel" class="carousel-slide to-carousel">
        <!-- SLIDER -->
        {% include 'generic/carousel_slide_part.html' %}
    </div>
    <div class="reset section slide-content twelve"></div>
        <!-- SLIDER END -->
        <!-- GRID -->
    <div id="{{ carousel_name }}_id-grid" class="carousel-grid to-carousel">
        {% include 'generic/carousel_grid_part.html' %}
    </div>
</div>