{% load bccf_feature_tags static %}
<section id={{ child_obj.slug }} class="section subpage {{ child_obj.gparent.carousel_color }}">
    <a id="close-btn" href="#" title="Close" class="fa fa-times-circle"></a>
    <div class="subpage-tabs section">
        <ul class="no-style-list">
            <li class="col two mobile-full">
                <a href="{{ child_obj.get_absolute_url }}" id="child-home" class="baby-content-btn">Home</a>
                <div class="baby-content">
                    {% include 'includes/sub-pages/sub_page_home.html' %}                    
                </div>
            </li>
            {% for baby in babies %}
            <li class="col two mobile-full">
                <a href="{{ baby.get_content_model.get_absolute_url }}" id="{{ baby.title|slugify }}" class="baby-content-btn">{{ baby.short_title }}</a>
                <div class="baby-content">
                    <h3>{{ baby.title }}</h3>
                    {{ baby.content|safe }}
                </div>
            </li>
            {% endfor %}
            {% if child_obj.show_resources or child_obj.content_model != 'bccfgenericpage' %}
            <li class="col two mobile-full" id="resources">
                <a href="{{ child_obj.get_absolute_url }}baby-resources" id="baby-resources" class="baby-content-btn">Resources</a>
                <div class="baby-content">
                    <div id="related-resource-outer" class="section">
                        <div class="related-resources">
                            {% related_resources_for child_obj 'article' 'Articles' %}
                            {% related_resources_for child_obj 'downloadableform' 'Downloadable Forms' %}
                            {% related_resources_for child_obj 'magazine' 'Magazines' %}
                            {% related_resources_for child_obj 'podcast' 'Podcasts' %}
                            {% related_resources_for child_obj 'tipsheet' 'Tip Sheets' %}
                            {% related_resources_for child_obj 'video' 'Videos' %}
                        </div>
                    </div>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="subpage-content section row"></div>
    <div class="home-content section row no-mobile">
        {% include 'includes/sub-pages/sub_page_home.html' %}
    </div>
</section>
<script type="text/javascript" >
var sync_height = function() {
    var height = 0;
    var highest = 0;
    $('.subpage-content .related-resource').each(function() {
        var h = $(this).height();
        if(h > height) {
            height = h;
            highest = $(this).height();
        }
    });
    $('.subpage-content .related-resource').each(function() {
        $(this).css('height', highest);
    });
};

$('#close-btn').on('click', function(e) {
    e.preventDefault(); 
    reset();
});

$('.baby-content-btn').on('click', function(e) {
    e.preventDefault();
    var url = $(this).attr('href'); 
    
    $('.subpage-tabs a.active').removeClass('active');     

    if($(this).attr('id') !== 'child-home') {
        window.history.pushState({ path: url }, '', url);
        $(this).addClass('active'); 
    }
    pathname = url;

    if(!$('.mnav-mobile-btn').is(':visible')) {
        $('.subpage-content').hide();
        $('.home-content').hide();

        if($(this).attr('id') === 'child-home') {
            $('.home-content').show();
            return;
        }
        if($(this).attr('id') === 'baby-resources') {
            sync_height();        
        }
        $('.subpage-content').show();
    }
    if($('.mnav-mobile-btn').is(':visible')) {
        $('.subpage .baby-content').hide();
        $(this).siblings('.baby-content').slideToggle('500');
    } else {
        $('.subpage .subpage-content').html($(this).siblings('.baby-content').html());
        if($(this).attr('id') === 'baby-resources') {
            sync_height();
        }
    }
});

$('.mem-popup').on('click', function(e) {
    e.preventDefault();
    var content = $(this).attr('title');
    console.log('Content: '+content);
    $('#pop-up-over').children('.content').html('<p>'+content+'</p>');
    $('#pop-up-over').show();
    $('html, body').css({ overflow:'hidden'});
});

$(function() {
    document.title = "{{ child_obj.title|title }} | {{ child_obj.gparent.title|title }} | {{ settings.SITE_TITLE }}"
    {% if baby_obj %}
        $('#{{ baby_obj }}').trigger('click');
    {% else %}
        $('#child-home').trigger('click');
    {% endif %}
    
    
    
});
</script>