{% load static bccf_rating_tags %}
<section id={{ child_obj.slug }} class="subpage {{ child_obj.gparent.carousel_color }}">
    <div class="section">
        {% bccf_rating_for child_obj %}
    </div>
    <div class="subpage-content section row">
        <h3>{{ child_obj.title }}</h3>
        {{ child_obj.content|safe }}
    </div>    
    <div class="subpage-tabs section row">
        <ul class="no-style-list">
            <li class="col three no-mobile">
                <a href="{% url 'bccf-baby' child_obj.gparent.slug child_obj.slug 'child-home' %}" id="child-home" class="baby-content-btn">Home</a>
                <div class="baby-content">
                    <h3>{{ child_obj.title }}</h3>
                    {{ child_obj.content|safe }}
                </div>          
            </li>
            {% for baby in babies %}
            <li class="col three mobile-full">
                <a href="{{ baby.get_content_model.get_absolute_url }}" id="{{ baby.title|slugify }}" class="baby-content-btn">{{ baby.title }}</a>
                <div class="baby-content">
                    <h3>{{ baby.title }}</h3>
                    {{ baby.content|safe }}
                </div>            
            </li>
            {% endfor %}
            {% if child_obj.content_model == 'article' or child_obj.content_model == 'downloadableform' or child_obj.content_model == 'magazine' or child_obj.content_model == 'tipsheet' %}
            <li class="col three mobile-full"><a href="media/{{ child_obj.get_content_model.attached_document }}" target="_blank">Download</a></li>
            {% endif %}
            {% if child_obj.content_model == 'video' %}
            <li class="col three mobile-full"><a href="#" target="_blank">View</a></li>
            {% endif %}
            {% if child_obj.content_model == 'formpublished' %}
            <li class="col three mobile-full"><a href="{{ child_obj.get_content_model.get_absolute_url }}" target="_blank">Act</a></li>
            {% endif %}
            {% if child_obj.content_model == 'topic' %}
            <li class="col three mobile-full"><a href="{{ child_obj.get_content_model.get_absolute_url }}" target="_blank">Talk</a></li>
            {% endif %}
            
            {% if resources %}
            <li class="col three mobile-full" id="resources">
                <a href="{% url 'bccf-baby' child_obj.gparent.slug child_obj.slug 'baby-resources' %}" id="baby-resources" class="baby-content-btn">Resources</a>
                <div class="baby-content">
                <h3>Top {{ resources|length }} Most Related Resource{{ resources|length|pluralize }}</h3>
                {% if resources %}  
                <ul>
                    {% for resource in resources%}
                    <li><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a></li>
                    {% endfor %}          
                </ul>
                {% endif %}  
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
</section>
<script type="text/javascript" >
    $(function() {
        $('.subpage .baby-content').hide();
        $('.subpage .baby-content-btn').on('click', function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            if($('.mnav-mobile-btn').is(':visible')) {
                $('.subpage .baby-content').hide();
                $(this).siblings('.baby-content').slideToggle('500');
            } else {
                $('.subpage .subpage-content').html($(this).siblings('.baby-content').html());
            }
            window.history.pushState({ path: url }, '', url);
        });
        
        
        {% if baby_obj %}
            $('#{{ baby_obj }}').trigger('click');
        {% endif %}
    });
</script>