{% extends "pages/bccfpage.html" %}

{% block marquee %}{% endblock %}

{% block content %}
<h2>Publish {{ struct.title }}</h2>
{% endblock %}
{% block carousels %}
<form id="publish-form" action="{{ request.get_full_path }}" method="POST">
{% csrf_token %}
{{ form.as_p }}
<input id="form_submit" type="submit" value="Submit" />
</form>
{% endblock %}

{% block page_script %}
<script type="text/javascript" >
$('#form_submit').on('click', function(e) {
    e.preventDefault();
    if(confirm('Are you sure you want to publish this Survey? It cannot be undone.')) {
        $('#publish-form').submit();
    }
});
</script>
{% endblock %}
