{% extends "pages/bccfpage.html" %}

{% load form_utils content_carousel_tags bccf_feature_tags %}

{% block meta_title %}View Form: {{ page.title|title }}{% endblock %}
{% block title %}View Form: {{ page.title|title }}{% endblock %}

{% block marquee %}{% endblock %}

{% block content %}
<h1>{{ page.title|title }}</h1>
{{ page.content|safe }}
{% endblock %}

{% block carousels %}

{% block message %}
<div id="form_view" class="section row">
    <form id="form-form" action="{{ request.get_full_path }}" method="POST">
        {% csrf_token %}
        {{ form|render }}
        <input id="submit-survey" type="Submit" value="Submit Survey" />
    </form>
</div>
<div class="section row row-two">
    {% content_carousel_for page.gparent 'Other Surveys' None 'formpublished' %}
</div>
{% endblock %}

<div id="related-resource-container" class="section row row-two">
    <h3>Related Resources</h3>
    {% related_resources_for page 'article' 'Articles' %}
    {% related_resources_for page 'downloadableform' 'Downloadable Forms' %}
    {% related_resources_for page 'magazine' 'Magazines' %}
    {% related_resources_for page 'tipsheet' 'Tip Sheets' %}
    {% related_resources_for page 'video' 'Videos' %}
</div>

{% endblock %}

{% block footer_scripts %}
{{ block.super }}
<script type="text/javascript" >
$(function() {
    var height = 0;
    var highest = 0;
    $('#related-resource-container > .related-resource').each(function() {
        var h = $(this).height();
        if(h > height) {
            height = h;
            console.log(h);
            highest = $(this).height();  
        }
    });
    $('#related-resource-container > .related-resource').each(function() {
        $(this).css('height', highest);
    });
});

$('#submit-survey').on('click', function(e) {
    e.preventDefault();
    if(confirm('Are you sure you want to submit the survey? It cannot be edited once submitted.')) {
        $('#form-form').submit();    
    }
});
</script>
{% endblock %}