{% extends "pages/bccfpage.html" %}

{% load form_utils content_carousel_tags bccf_feature_tags %}

{% block extra_script %}
    {{ block.super }}
{% endblock %}

{% block meta_title %}View Form: {{ page.title|title }}{% endblock %}
{% block title %}View Form: {{ page.title|title }}{% endblock %}

{% block marquee %}{% endblock %}

{% block content %}
<h1>{{ page.title|title }} {% if page.closed %}<span class="closed">[CLOSED]</span>{% endif %}</h1>
{{ page.content|safe }}
{% include "includes/add_this.html" %}
{% endblock %}

{% block carousels %}

{% if not page.closed %}
{% if user.is_authenticated %}
{% block message %}
<div id="form_view" class="section row">
    <form id="form-form" action="{{ request.get_full_path }}" method="POST">
        {% csrf_token %}
        {{ form|render }}
        <div class="form-actions">
            <input class="lgreen-btn btn btn-primary btn-large" type="submit" value="Submit Survey">
        </div>
    </form>
</div>
{% endblock %}
{% else %}
<div id="form-aux">
    <a href="{% url 'signup' %}">Register</a> or <a href="{% url 'login' %}">Login</a> submit.
</div>
{% endif %}
{% endif %}

<div class="section row row-two">
    {% content_carousel_for page.gparent 'Other Surveys' None 'formpublished' %}
</div>

<div id="related-resource-container" class="section row row-two">
    <h3>Related Resources</h3>
    {% related_resources_for page 'article' 'Articles' %}
    {% related_resources_for page 'downloadableform' 'Downloadable Forms' %}
    {% related_resources_for page 'magazine' 'Magazines' %}
    {% related_resources_for page 'tipsheet' 'Tip Sheets' %}
    {% related_resources_for page 'video' 'Videos' %}
</div>

{% endblock %}

{% block footer_scripts %}
{{ block.super }}
<script type="text/javascript" >
$(function() {
    var height = 0;
    var highest = 0;
    $('#related-resource-container > .related-resource').each(function() {
        var h = $(this).height();
        if(h > height) {
            height = h;
            console.log(h);
            highest = $(this).height();  
        }
    });
    $('#related-resource-container > .related-resource').each(function() {
        $(this).css('height', highest);
    });
});

$('#submit-survey').on('click', function(e) {
    e.preventDefault();
    if(confirm('Are you sure you want to submit the survey? It cannot be edited once submitted.')) {
        $('#form-form').submit();    
    }
});
</script>
{% endblock %}