Django==1.6.2
Markdown==2.3.1
MySQL-python==1.2.4
Pillow==2.5.1
South==0.8.2
argparse==1.2.1
bleach==1.2.2
distribute==0.7.3
django-annoying==0.7.7
django-ckeditor==4.0.2
django-filebrowser==3.5.3
django-form-utils==1.0.1
django-grappelli==2.5.1
django-simple-captcha==0.4.2
django-tinymce==1.5.2
docopt==0.4.0
filebrowser-safe==0.2.31
grappelli-safe==0.2.23
html5lib==0.95
httplib2==0.8
mailchimp==2.0.7
oauthlib==0.6.0
paypalrestsdk==0.7.0
pisa==3.0.33
postmarkup==1.2.0
pybbm==0.14.7
python-dateutil==1.5
pytz==2013.8
reportlab==3.0
requests==2.2.1
requests-oauthlib==0.3.3
six==1.4.1
sorl-thumbnail==11.12
sqlparse==0.1.11
wsgiref==0.1.2
