{% load shop_tags %}
<tr class="total-row">
    <td colspan="2"></td>
    <td class="total-type total-row">Sub Total</td>
    <td class="total-row">{{ item_total|currency }}</td>
</tr>
{% if discount_total %}
<tr class="total-row">
    <td colspan="2"></td>
    <td class="total-type total-row">
        {% if discount_type %}
        {{ discount_type }}
        {% else %}
        Discount Total
        {% endif %}    
    </td>
    <td class="total-row">{{ discount_total|currency }}</td>
</tr>
{% endif %}
{% if shipping_total %}
<tr class="total-row">
    <td colspan="2"></td>
    <td class="total-type total-row">
        {% if shipping_type %}
        {{ shipping_type }}
        {% else %}
        Shipping Total
        {% endif %}    
    </td>
    <td class="total-row">{{ shipping_total|currency }}</td>
</tr>
{% endif %}
{% if tax_total %}
<tr class="total-row">
    <td colspan="2"></td>
    <td class="total-type total-row">
        {% if tax_type %}
        {{ tax_type }}
        {% else %}
        Tax Total
        {% endif %}    
    </td>
    <td class="total-row">{{ tax_total|currency }}</td>
</tr>
{% endif %}
<tr class="total total-row">
    <td colspan="2"></td>
    <td class="total-type total-row">Total</td>
    <td class="total-row">{{ order_total|currency }}</td>
</tr>