{% extends "pages/base_bccfpage.html" %}

{% block meta_title %}Success: Created {{ struct.title|title }}{% endblock %}
{% block title %}Success: Created {{ struct.title|title }}{% endblock %}

{% block content%}
<div class="container">
    <h2>Successfully Created a Form Structure</h2>
</div>
{% endblock %}

{% block carousels %}
<div class="section row row-one">
    <h4>Form Structure Successfully Created</h4>
    <p>Structure title: <span class="form-title">{{ struct.title }}</span><p>
    <a href="{{ struct.get_publish_url }}" class="lgreen-btn" title="Publish {{ struct.title }}">Publish</a>
    <a href="{{ struct.get_edit_url }}" class="lgreen-btn" title="Edit {{ struct.title }}">Edit</a>
    <a href="{{ struct.get_clone_url }}" class="lgreen-btn" title="Clone {{ struct.title }}">Clone</a>
    <a href="{% url 'formable-create-form' %}" class="lgreen-btn" title="Create New">Create another survey</a>
</div>
{% endblock %}